In [3]:
import pyEX
symbol = 'AAPL'

In [4]:
pyEX.bookDF(symbol)

,asks,bids,quote.avgTotalVolume,quote.calculationPrice,quote.change,quote.changePercent,quote.close,quote.closeTime,quote.companyName,quote.delayedPrice,...,quote.previousClose,quote.primaryExchange,quote.sector,quote.symbol,quote.week52High,quote.week52Low,quote.ytdChange,systemEvent.systemEvent,systemEvent.timestamp,trades
0,[],[],23511202,close,-0.62,-0.00298,207.53,1533931200303,Apple Inc.,207.53,...,208.15,Nasdaq Global Select,Technology,AAPL,209.78,149.16,0.215604,C,1533935400006,"[{'price': 207.56, 'size': 100, 'tradeId': 742..."

In [5]:
pyEX.chartDF(symbol, timeframe='1m')

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,-0.229196,0.000000,-0.121,189.6847,2018-07-10,190.6115,Jul 10,189.5154,190.0435,15939149,15939149,190.0035
1,-2.461400,-0.012976,-1.298,187.2234,2018-07-11,189.1166,Jul 11,186.9543,187.8412,18831470,18831470,187.6892
2,3.139000,0.003572,1.677,190.3623,2018-07-12,190.7410,Jul 12,188.6484,188.8676,18041131,18041131,189.9925
3,0.298952,0.005149,0.157,190.6613,2018-07-13,191.1695,Jul 13,190.2328,190.4122,12519792,12519792,190.7550
4,-0.418532,0.002942,-0.220,190.2428,2018-07-16,191.9767,Jul 16,189.7495,190.8506,15043110,15043110,190.6179
5,0.538112,0.005779,0.283,190.7809,2018-07-17,191.1994,Jul 17,188.5387,189.0868,15534523,15534523,190.2241
6,-1.046300,0.000263,-0.548,189.7346,2018-07-18,191.1297,Jul 18,189.2662,191.1097,16393381,16393381,189.7243
7,1.474800,0.008038,0.777,191.2094,2018-07-19,191.8770,Jul 19,189.0270,189.0270,20286752,20286752,191.1469
8,-0.438462,0.005726,-0.229,190.7709,2018-07-20,191.7575,Jul 20,189.5054,191.1097,20706042,20706042,190.8789
9,0.169406,0.006619,0.089,190.9403,2018-07-23,191.2891,Jul 23,188.8975,190.0136,15989365,15989365,190.1907
10,1.385100,0.013922,0.725,192.3255,2018-07-24,192.9833,Jul 24,191.3788,191.7774,18697898,18697898,192.1546
11,1.813600,0.023483,0.943,194.1391,2018-07-25,194.1690,Jul 25,191.7575,192.3855,16826483,16826483,193.0775
12,-0.607868,0.020278,-0.313,193.5312,2018-07-26,195.2751,Jul 26,192.9333,193.9298,19075964,19075964,194.0411
13,-3.218700,0.003310,-1.663,190.3125,2018-07-27,194.5078,Jul 27,189.4356,194.3085,24023972,24023972,191.5347
14,-1.066300,-0.002311,-0.560,189.2463,2018-07-30,191.5283,Jul 30,188.4092,191.2293,21029535,21029535,189.3205
15,0.378671,-0.000315,0.200,189.6249,2018-07-31,191.4685,Jul 31,188.6783,189.6349,39373038,39373038,190.1102
16,11.170800,0.058577,5.891,200.7958,2018-08-01,201.0548,Aug 1,196.6204,198.4340,67935716,67935716,199.2232
17,5.869400,0.089520,2.923,206.6652,2018-08-02,207.6517,Aug 2,199.6498,199.8790,62404012,62404012,205.1286
18,0.597903,0.092672,0.289,207.2631,2018-08-03,208.0105,Aug 3,204.7621,206.3064,33447396,33447396,206.5696
19,1.076200,0.098345,0.519,208.3393,2018-08-06,208.5187,Aug 6,206.3463,207.2730,25425387,25425387,207.7645
20,-1.953100,0.088049,-0.937,206.3862,2018-08-07,208.7678,Aug 7,206.0374,208.5884,25587387,25587387,206.8425
21,0.139510,0.088784,0.068,206.5257,2018-08-08,207.0837,Aug 8,203.8052,205.3299,22525487,22525487,206.0459
22,1.624300,0.097347,0.786,208.1500,2018-08-09,209.0468,Aug 9,206.4758,206.5556,23492626,23492626,208.3263
23,-0.619964,0.094079,-0.298,207.5300,2018-08-10,209.1000,Aug 10,206.6700,207.3600,24611202,24611202,207.8576

In [6]:
pyEX.companyDF(symbol)

,CEO,companyName,description,exchange,industry,issueType,sector,symbol,tags,website
0,Timothy D. Cook,Apple Inc.,"Apple Inc is designs, manufactures and markets...",Nasdaq Global Select,Computer Hardware,cs,Technology,AAPL,"[Technology, Consumer Electronics, Computer Ha...",http://www.apple.com

In [7]:
pyEX.delayedQuoteDF(symbol)

,delayedPrice,delayedPriceTime,delayedSize,high,low,processedTime,symbol
0,207.53,1533931200303,1315583,209.1,206.67,1533932101812,AAPL

In [8]:
pyEX.dividendsDF(symbol, timeframe='ytd')

,amount,declaredDate,exDate,flag,indicated,paymentDate,qualified,recordDate,type
0,0.63,2018-02-01,2018-02-09,,,2018-02-15,Q,2018-02-12,Dividend income

In [9]:
pyEX.earningsDF(symbol)

,EPSReportDate,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,numberOfEstimates,symbolId,yearAgo,yearAgoChangePercent,symbol
0,2018-07-31,0.17,2.34,AMC,2.17,0.299401,2.17,2018-06-30,Q3 2018,10,11,1.67,0.401198,AAPL
1,2018-05-01,0.04,2.73,AMC,2.69,0.280952,2.69,2018-03-31,Q2 2018,10,11,2.10,0.300000,AAPL
2,2018-02-01,0.07,3.89,AMC,3.82,0.136905,3.82,2017-12-31,Q1 2018,9,11,3.36,0.157738,AAPL
3,2017-11-02,0.20,2.07,AMC,1.87,0.119760,1.87,2017-09-30,Q4 2017,10,11,1.67,0.239521,AAPL

In [10]:
pyEX.spreadDF(symbol)

,effectiveQuoted,effectiveSpread,priceImprovement,venue,venueName,volume
0,0.726557,0.018937,0.004259,XCHI,CHX,17834
1,0.912200,0.013843,0.001060,XPHL,Nasdaq PSX,3778142
2,0.915064,0.012886,0.000919,XBOS,Nasdaq BX,9001159
3,0.949729,0.012325,0.000540,ARCX,NYSE Arca,35219055
4,0.949133,0.012122,0.000600,XCIS,NYSE National,595186
5,0.839511,0.011952,0.001606,BATY,Cboe BYX,5271746
6,0.945059,0.011884,0.000497,XNYS,NYSE,8495160
7,0.812543,0.011488,0.001803,XASE,NYSE American,507704
8,0.817655,0.011410,0.001970,XNGS,Nasdaq,106584772
9,0.879384,0.011385,0.001323,EDGA,Cboe EDGA,5022047
10,0.862763,0.011156,0.001535,EDGX,Cboe EDGX,28090564
11,0.811653,0.010850,0.002065,BATS,Cboe BZX,46472154
12,0.559769,0.007811,0.003434,IEXG,IEX,12931070

In [11]:
pyEX.financialsDF(symbol)

,cashChange,cashFlow,costOfRevenue,currentAssets,currentCash,currentDebt,grossProfit,netIncome,operatingExpense,operatingGainsLosses,operatingIncome,operatingRevenue,researchAndDevelopment,shareholderEquity,totalAssets,totalCash,totalDebt,totalLiabilities,totalRevenue,symbol
reportDate,,,,,,,,,,,,,,,,,,,,
2018-06-30,-13088000000,14488000000,32844000000,115761000000,31971000000,17472000000,20421000000,11519000000,7809000000,None,12612000000,53265000000,3701000000,114949000000,349197000000,70970000000,114600000000,None,53265000000,AAPL
2018-03-31,17568000000,15130000000,37715000000,130053000000,45059000000,20478000000,23422000000,13822000000,7528000000,None,15894000000,61137000000,3378000000,126878000000,367502000000,87940000000,121840000000,None,61137000000,AAPL
2017-12-31,7202000000,28293000000,54381000000,143810000000,27491000000,18478000000,33912000000,20065000000,7638000000,None,26274000000,88293000000,3407000000,140199000000,406794000000,77153000000,122400000000,None,88293000000,AAPL
2017-09-30,1718000000,15122000000,32648000000,128645000000,20289000000,18473000000,19931000000,10714000000,6811000000,None,13120000000,52579000000,2997000000,134047000000,375319000000,74181000000,115680000000,None,52579000000,AAPL

In [12]:
pyEX.thresholdDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [13]:
pyEX.shortInterestDF(symbol, date=None)

Empty DataFrame
Columns: []
Index: []

In [14]:
pyEX.marketShortInterestDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [15]:
pyEX.stockStatsDF(symbol)

,EBITDA,EPSSurpriseDollar,EPSSurprisePercent,beta,cash,companyName,consensusEPS,day200MovingAvg,day30ChangePercent,day50MovingAvg,...,shortRatio,symbol,ttmEPS,week52change,week52high,week52low,year1ChangePercent,year2ChangePercent,year5ChangePercent,ytdChangePercent
0,47576000000,None,1.487,1.254188,151334000000,Apple Inc.,2.69,176.59383,0.125049,191.68745,...,1.962087,AAPL,10.36,31.7069,209.78,149.16,0.356348,0.985038,2.394752,0.218584

In [16]:
pyEX.listDF(option='mostactive')

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,open,openTime,peRatio,previousClose,primaryExchange,sector,symbol,week52High,week52Low,ytdChange
0,12953012,close,0.00,0.00000,31.79,1533931304340,Williams Companies Inc. (The),31.79,1533931304340,0.05,...,31.73,1533907800903,44.77,31.79,New York Stock Exchange,Energy,WMB,33.6700,24.00,0.047267
1,67268434,close,-0.04,-0.00209,19.06,1533931200315,Advanced Micro Devices Inc.,19.06,1533931200315,-0.04,...,19.08,1533907800233,56.06,19.10,NASDAQ Capital Market,Technology,AMD,20.1800,9.04,0.733793
2,33136767,close,-0.15,-0.02970,4.90,1533931441535,Ambev S.A. American Depositary Shares (Each re...,4.90,1533931441535,0.00,...,4.94,1533907814630,21.30,5.05,New York Stock Exchange,Consumer Defensive,ABEV,7.4300,4.58,-0.279593
3,61208622,close,-0.41,-0.01297,31.19,1533931220447,Bank of America Corporation,31.19,1533931220447,0.00,...,31.21,1533907804047,14.18,31.60,New York Stock Exchange,Financial Services,BAC,33.0500,22.75,0.038367
4,56568424,close,-0.17,-0.01314,12.77,1533931229325,General Electric Company,12.77,1533931229325,0.00,...,12.88,1533907820520,14.03,12.94,New York Stock Exchange,Industrials,GE,25.5500,12.61,-0.290671
5,3206461,close,-0.18,-0.00379,47.37,1533931367238,Williams Partners L.P. Representing Limited Pa...,47.37,1533931367238,0.08,...,47.49,1533907800904,32.22,47.55,New York Stock Exchange,Energy,WPZ,48.1100,32.74,0.247402
6,39393080,close,-0.17,-0.01715,9.74,1533931498028,Ford Motor Company,9.74,1533931498028,0.03,...,9.89,1533907924655,6.41,9.91,New York Stock Exchange,Consumer Cyclical,F,13.4800,9.72,-0.207164
7,32081282,close,-0.89,-0.01703,51.37,1533931200196,Micron Technology Inc.,51.36,1533931200236,0.03,...,51.25,1533907800339,5.97,52.26,Nasdaq Global Select,Technology,MU,64.6600,26.85,0.159292
8,18965114,close,-0.24,-0.01761,13.39,1533931397508,VALE S.A. American Depositary Shares Each Repr...,13.39,1533931397508,0.07,...,13.27,1533907886434,10.22,13.63,New York Stock Exchange,Basic Materials,VALE,15.2400,9.53,0.073590
9,24226468,close,-1.29,-0.02573,48.85,1533931200279,Intel Corporation,48.85,1533931200279,0.05,...,48.50,1533907800716,12.21,50.14,Nasdaq Global Select,Technology,INTC,57.5995,34.38,0.036513

In [17]:
pyEX.logoNotebook(symbol)

In [18]:
pyEX.newsDF(symbol, count=10)

,datetime,headline,image,related,source,summary,url
0,2018-08-10T19:03:00-04:00,Energy Recap: Corporate Renewable Energy Procu...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,BNO,BOIL,BP,Commodities,DBO,DBRT,DGA...",SeekingAlpha,Welcome to the latest edition of the Energy...,https://api.iextrading.com/1.0/stock/aapl/arti...
1,2018-08-10T16:39:40-04:00,These 4 Stocks Went From $325 Billion To $3.5 ...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,Computer Hardware,CON31167138,GOOG,G...",SeekingAlpha,With Apple (AAPL) crossing the $1 trillion ...,https://api.iextrading.com/1.0/stock/aapl/arti...
2,2018-08-10T13:20:00-04:00,Apple is still 'the most underappreciated stoc...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,ANGI,ETSY,FB,GOOGL,YELP",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
3,2018-08-10T12:45:17-04:00,How To Prepare Your Portfolio For Stagflation,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMJ,AMLP,AMZN,ARKK,BNO,Computer Hardware,...",SeekingAlpha,Photo Source The Unfortunate Case For...,https://api.iextrading.com/1.0/stock/aapl/arti...
4,2018-08-10T12:01:54-04:00,Play The Dividend Aristocrats With NOBL - Or C...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,CLX,Computer Hardware,CON31167138,DG...",SeekingAlpha,"Facebook ( FB ), Alphabet/Google ( GOOG ) (...",https://api.iextrading.com/1.0/stock/aapl/arti...
5,2018-08-10T12:00:23-04:00,Report: Google could lose $50M this year from ...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,GAMEMULT,GOOG,GOOGL,INT31168144,NASDAQ01,...",SeekingAlpha,Google ( GOOG -0.7% )( GOOGL -0.8% )...,https://api.iextrading.com/1.0/stock/aapl/arti...
6,2018-08-10T11:54:32-04:00,Why 20 Is The Most Important Number In Apple's...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,Co...",SeekingAlpha,Apple ( AAPL ) recently released its fi...,https://api.iextrading.com/1.0/stock/aapl/arti...
7,2018-08-10T10:19:05-04:00,Here's Why Roku Will Surpass $100 In Next Two ...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,CHTR,CMCSA,Computer Hardware,CON31167138,...",SeekingAlpha,Roku's ( ROKU ) stock is getting a lot of a...,https://api.iextrading.com/1.0/stock/aapl/arti...
8,2018-08-10T10:08:01-04:00,Market Volatility Bulletin: Flat Trade Over Th...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,ACWI,ACWX,AMZN,Computer Hardware,CON31167...",SeekingAlpha,Market Intro CNBC: Thursday Close U...,https://api.iextrading.com/1.0/stock/aapl/arti...
9,2018-08-10T09:30:00-04:00,"Your first trade for Friday, August 10",https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,INTC,LOW,RL,TWTR",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...

In [19]:
pyEX.marketNewsDF(count=10)

,datetime,headline,image,related,source,summary,url
0,2018-08-10T19:18:00-04:00,Baron & Budd Fights for Fire Victims before Ca...,https://api.iextrading.com/1.0/stock/market/ne...,"Economy Business and Finance,CALIFORN,Health S...",Business Wire,Shareholder John Fiske testifies on inve...,https://api.iextrading.com/1.0/stock/market/ar...
1,2018-08-10T18:48:00-04:00,$16K PGP Grant Awarded to Richardson Adult Lit...,https://api.iextrading.com/1.0/stock/market/ne...,"ARKANSAS,Banking and Finance,Banking,Economy B...",Business Wire,Partnership Grant Program Funds to Be Use...,https://api.iextrading.com/1.0/stock/market/ar...
2,2018-08-10T18:38:00-04:00,SCAN Alerts Members Affected by Southern Calif...,https://api.iextrading.com/1.0/stock/market/ne...,"Accident & Health Insurance,Banking and Financ...",PR Newswire,"LONG BEACH, Calif. , Aug. 10, 2018 /PR...",https://api.iextrading.com/1.0/stock/market/ar...
3,2018-08-10T18:23:00-04:00,Two Tribes Hail Court Stay Preventing The FCC ...,https://api.iextrading.com/1.0/stock/market/ne...,"Broadcasting - TV,Federal,Market,National News...",PR Newswire,"FORT THOMPSON, S.D. , Aug. 10, 2018 /P...",https://api.iextrading.com/1.0/stock/market/ar...
4,2018-08-10T17:12:00-04:00,NASA Awards $2.3 Million in Grants to Minority...,https://api.iextrading.com/1.0/stock/market/ne...,"Aerospace and Defense,Aerospace/Defense - Majo...",PR Newswire,"WASHINGTON , Aug. 10, 2018 /PRNewswire...",https://api.iextrading.com/1.0/stock/market/ar...
5,2018-08-10T17:01:00-04:00,Catholic School Installs Active Shooter Respon...,https://api.iextrading.com/1.0/stock/market/ne...,"CATHOLIC,Education,LAWENFOR,LEGALLAW,Market,Na...",PR Newswire,"NEWTON, Kan. , Aug. 10, 2018 /PRNewswi...",https://api.iextrading.com/1.0/stock/market/ar...
6,2018-08-10T16:49:00-04:00,FDA approves new treatment for a rare genetic ...,https://api.iextrading.com/1.0/stock/market/ne...,"Biotechnology,Pharmaceutical,FDA00001,Federal,...",PR Newswire,"SILVER SPRING, Md. , Aug. 10, 2018 /PR...",https://api.iextrading.com/1.0/stock/market/ar...
7,2018-08-10T16:12:00-04:00,Aug. 11 (8/11) Serves As Convenient Reminder F...,https://api.iextrading.com/1.0/stock/market/ne...,"EASTEURO,Energy,Energy,FLORIDA1,Futures Tradin...",PR Newswire,"ATLANTA , Aug. 10, 2018 /PRNewswire/ -...",https://api.iextrading.com/1.0/stock/market/ar...
8,2018-08-10T16:03:00-04:00,Pebblebrook Hotel Trust Files Investor Present...,https://api.iextrading.com/1.0/stock/market/ne...,"Advertising Marketing and PR,Banking and Finan...",Business Wire,Urges Shareholders to Vote AGAINST the L...,https://api.iextrading.com/1.0/stock/market/ar...
9,2018-08-10T15:38:00-04:00,Crystal Group Introduces Rugged AND Secure Com...,https://api.iextrading.com/1.0/stock/market/ne...,"Computer Hardware,Computer Software,Computer,E...",PR Newswire,"HIAWATHA, Iowa , Aug. 10, 2018 /PRNews...",https://api.iextrading.com/1.0/stock/market/ar...

In [20]:
pyEX.ohlcDF(symbol)

               open         close   high     low
price  2.073100e+02  2.075300e+02  209.1  206.67
time   1.533908e+12  1.533931e+12  209.1  206.67

In [21]:
pyEX.marketOhlcDF()

,SNOAW,LEG,GRUB,CDNA,NOMD,TRGP,GLMD,RTH,ZN,TK,...,LRET,MOSC+,ESGW,PHX,QDEU,CIC+,FMY,SPLP,SMDD,[object Object]
close,"{'price': 0.07, 'time': 1533931200511}","{'price': 43.33, 'time': 1533931366511}","{'price': 130.42, 'time': 1533931322820}","{'price': 16.99, 'time': 1533931200235}","{'price': 19.78, 'time': 1533931321903}","{'price': 53.98, 'time': 1533931322895}","{'price': 12.25, 'time': 1533931200392}","{'price': 105.58, 'time': 1533931200211}","{'price': 2.64, 'time': 1533931200343}","{'price': 6.98, 'time': 1533931324732}",...,"{'price': 24.704, 'time': 1533931200079}","{'price': 1.29, 'time': 1533933900012}","{'price': 29.57, 'time': 1533931200130}","{'price': 19.35, 'time': 1533931323274}","{'price': 59.604, 'time': 1533931200125}","{'price': 1.45, 'time': 1533931321292}","{'price': 13.22, 'time': 1533931322846}","{'price': 16.95, 'time': 1533931321878}","{'price': 8.302, 'time': 1533931200012}",NaN
high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
open,"{'price': 0.1011, 'time': 1533908081910}","{'price': 43.79, 'time': 1533907809488}","{'price': 129, 'time': 1533907800309}","{'price': 17.5, 'time': 1533907800009}","{'price': 19.75, 'time': 1533907800652}","{'price': 52.5, 'time': 1533907800758}","{'price': 12.65, 'time': 1533907800118}","{'price': 105.43, 'time': 1533907800076}","{'price': 2.78, 'time': 1533907800627}","{'price': 7.06, 'time': 1533907929178}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
pyEX.peersDF(symbol)

       0
0   MSFT
1    NOK
2    IBM
3    HPQ
4  GOOGL
5     BB
6    XLK

In [23]:
pyEX.yesterdayDF(symbol)

,change,changePercent,close,date,high,low,open,symbol,unadjustedVolume,volume,vwap
0,-0.619964,-0.298,207.53,2018-08-10,209.1,206.67,207.36,AAPL,24611202,24611202,207.8576

In [24]:
pyEX.marketYesterdayDF()

,AAC,AABA,AA,A,AAL,AADR,AAMC,AAME,AAP,AAON,...,ZTS,ZUMZ,ZUO,ZVV,ZXIET,ZWZZT,ZVZZT,ZXZZT,ZYNE,ZYME
change,-0.15,0.48,1.99,-0.43,-0.66,-0.7715,-2.45,0.05,-1.44,-0.3,...,-0.7,0.95,0.23,0,0,0,-0.03,-3.01,0.07,-0.33
changePercent,-1.62,0.681,4.629,-0.645,-1.741,-1.448,-3.548,2,-0.974,-0.763,...,-0.758,3.506,0.816,0,0,0,-0.299,-37.578,1.089,-2.276
close,9.11,70.97,44.98,66.26,37.26,52.51,66.6,2.55,146.35,39,...,91.7,28.05,28.43,16,100,12,9.99,5,6.5,14.17
date,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,...,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10,2018-08-10
high,9.2,71.44,45.17,66.87,37.79,52.75,73.4983,2.6,147.91,39.45,...,92.712,28.85,29.9502,NaN,100,NaN,10.025,6,6.655,14.5
low,9.05,69.77,42.05,65.93,36.445,52.4304,66.6,2.55,145.12,38.85,...,91.48,26.85,27.66,NaN,100,NaN,9.99,5,6.3001,14.09
open,9.2,69.84,42.45,66.82,37.75,52.75,68,2.55,146.84,39.25,...,92.18,27,28,NaN,100,NaN,10.01,6,6.43,14.4
symbol,AAC,AABA,AA,A,AAL,AADR,AAMC,AAME,AAP,AAON,...,ZTS,ZUMZ,ZUO,ZVV,ZXIET,ZWZZT,ZVZZT,ZXZZT,ZYNE,ZYME
unadjustedVolume,66481,25773369,7608234,2166251,7481823,25242,998,2257,1006388,156698,...,1684641,671644,1274686,102,4000,100,1254048,9420,246093,53770
volume,66481,25773369,7608234,2166251,7481823,25242,998,2257,1006388,156698,...,1684641,671644,1274686,102,4000,100,1254048,9420,246093,53770
vwap,9.1052,70.9034,44.3294,66.2808,36.9793,52.5176,69.7018,2.5731,146.603,39.17,...,91.9497,28.0016,29.0716,NaN,100,NaN,10.0155,5.705,6.4894,14.2736

In [25]:
pyEX.priceDF(symbol)

    price
0  207.53

In [26]:
pyEX.quoteDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,open,openTime,peRatio,previousClose,primaryExchange,sector,symbol,week52High,week52Low,ytdChange
0,23511202,close,-0.62,-0.00298,207.53,1533931200303,Apple Inc.,207.53,1533931200303,0.21,...,207.31,1533907800745,20.03,208.15,Nasdaq Global Select,Technology,AAPL,209.78,149.16,0.215604

In [27]:
pyEX.relevantDF(symbol)

   peers symbols
0   True    MSFT
1   True     NOK
2   True     IBM
3   True     HPQ
4   True   GOOGL
5   True      BB
6   True     XLK

In [28]:
pyEX.splitsDF(symbol, timeframe='ytd')

Empty DataFrame
Columns: []
Index: []

In [29]:
pyEX.volumeByVenueDF(symbol)

    avgMarketPercent        date  marketPercent venue      venueName   volume
0           0.001059  2018-08-10       0.000680  XASE  NYSE American    16899
1           0.001245  2018-08-10       0.001043  XCIS  NYSE National    25923
2           0.009873  2018-08-10       0.006223  BATY       Cboe BYX   154624
3           0.008033  2018-08-10       0.008666  XPHL     Nasdaq PSX   215305
4           0.009412  2018-08-10       0.009871  EDGA      Cboe EDGA   245237
5           0.016532  2018-08-10       0.013727  XBOS      Nasdaq BX   341054
6           0.018277  2018-08-10       0.016596  XNYS           NYSE   412332
7           0.024119  2018-08-10       0.021018  IEXG            IEX   522198
8           0.058238  2018-08-10       0.051591  EDGX      Cboe EDGX  1281783
9           0.008867  2018-08-10       0.069947  XCHI            CHX  1737858
10          0.092972  2018-08-10       0.103852  ARCX      NYSE Arca  2580224
11          0.091778  2018-08-10       0.111274  BATS       Cboe BZX  2764638
12          0.289976  2018-08-10       0.250970  XNGS         Nasdaq  6235401
13          0.370004  2018-08-10       0.334542   TRF   Off Exchange  8311774

In [30]:
pyEX.symbolsDF()

,date,iexId,isEnabled,name,symbol,type
0,2018-08-10,2,True,Agilent Technologies Inc.,A,cs
1,2018-08-10,12042,True,Alcoa Corporation,AA,cs
2,2018-08-10,7653,True,Altaba Inc.,AABA,cs
3,2018-08-10,9169,True,AAC Holdings Inc.,AAC,cs
4,2018-08-10,5,True,AdvisorShares Dorsey Wright ADR,AADR,et
5,2018-08-10,8148,True,American Airlines Group Inc.,AAL,cs
6,2018-08-10,7760,True,Altisource Asset Management Corp Com,AAMC,cs
7,2018-08-10,7,True,Atlantic American Corporation,AAME,cs
8,2018-08-10,8,True,Aaron's Inc.,AAN,cs
9,2018-08-10,7790,True,Applied Optoelectronics Inc.,AAOI,cs
10,2018-08-10,9,True,AAON Inc.,AAON,cs
11,2018-08-10,10,True,Advance Auto Parts Inc W/I,AAP,cs
12,2018-08-10,11,True,Apple Inc.,AAPL,cs
13,2018-08-10,12,True,American Assets Trust Inc.,AAT,cs
14,2018-08-10,13,True,Almaden Minerals Ltd.,AAU,cs
15,2018-08-10,14,True,Advantage Oil & Gas Ltd,AAV,cs
16,2018-08-10,15,True,Atlas Air Worldwide Holdings,AAWW,cs
17,2018-08-10,16,True,iShares MSCI All Country Asia ex Japan Index Fund,AAXJ,et
18,2018-08-10,6667,True,Axon Enterprise Inc.,AAXN,cs
19,2018-08-10,17,True,AllianceBernstein Holding L.P. Units,AB,cs
20,2018-08-10,5129,True,Renmin Tianli Group Inc.,ABAC,cs
21,2018-08-10,19,True,ABB Ltd,ABB,cs
22,2018-08-10,20,True,AbbVie Inc.,ABBV,cs
23,2018-08-10,21,True,AmerisourceBergen Corporation,ABC,cs
24,2018-08-10,22,True,Ameris Bancorp,ABCB,cs
25,2018-08-10,23,True,Cambium Learning Group Inc.,ABCD,cs
26,2018-08-10,8607,True,Alcentra Capital Corp.,ABDC,cs
27,2018-08-10,9600,True,Abeona Therapeutics Inc.,ABEO,cs
28,2018-08-10,9607,True,,ABEOW,N/A
29,2018-08-10,36,True,Ambev S.A. American Depositary Shares (Each re...,ABEV,cs
...,...,...,...,...,...,...
8663,2018-08-10,7707,True,Virtus Global Dividend & Income Fund Inc.,ZTR,cs
8664,2018-08-10,7708,True,Zoetis Inc. Class A,ZTS,cs
8665,2018-08-10,7709,True,Zumiez Inc.,ZUMZ,cs
8666,2018-08-10,14265,True,Zuora Inc. Class A,ZUO,cs
8667,2018-08-10,7907,True,,ZVV,N/A
8668,2018-08-10,7908,True,,ZVVV,N/A
8669,2018-08-10,7909,True,NASDAQ TEST STOCK,ZVZZT,N/A
8670,2018-08-10,7910,True,NASDAQ TEST STOCK,ZWZZT,N/A
8671,2018-08-10,13391,True,,ZXIET,N/A
8672,2018-08-10,7911,True,NASDAQ TEST STOCK,ZXZZT,N/A
8673,2018-08-10,12759,True,Zymeworks Inc.,ZYME,cs
8674,2018-08-10,10257,True,Zynerba Pharmaceuticals Inc.,ZYNE,cs
8675,2018-08-10,10000000,True,Bitcoin USD,BTCUSDT,crypto
8676,2018-08-10,10000001,True,EOS USD,EOSUSDT,crypto
8677,2018-08-10,10000002,True,Ethereum USD,ETHUSDT,crypto
8678,2018-08-10,10000003,True,Binance Coin USD,BNBUSDT,crypto
8679,2018-08-10,10000004,True,Ontology USD,ONTUSDT,crypto
8680,2018-08-10,10000005,True,Bitcoin Cash USD,BCCUSDT,crypto
8681,2018-08-10,10000006,True,Cardano USD,ADAUSDT,crypto
8682,2018-08-10,10000007,True,Ripple USD,XRPUSDT,crypto
8683,2018-08-10,10000008,True,TrueUSD,TUSDUSDT,crypto
8684,2018-08-10,10000009,True,TRON USD,TRXUSDT,crypto
8685,2018-08-10,10000010,True,Litecoin USD,LTCUSDT,crypto
8686,2018-08-10,10000011,True,Ethereum Classic USD,ETCUSDT,crypto
8687,2018-08-10,10000012,True,MIOTA USD,IOTAUSDT,crypto
8688,2018-08-10,10000013,True,ICON USD,ICXUSDT,crypto
8689,2018-08-10,10000014,True,NEO USD,NEOUSDT,crypto
8690,2018-08-10,10000015,True,VeChain USD,VENUSDT,crypto
8691,2018-08-10,10000016,True,Stellar Lumens USD,XLMUSDT,crypto
8692,2018-08-10,10000017,True,Qtum USD,QTUMUSDT,crypto

In [31]:
pyEX.corporateActionsDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [35]:
pyEX.dividendsDF(symbol)

,amount,declaredDate,exDate,flag,indicated,paymentDate,qualified,recordDate,type
0,0.63,2018-02-01,2018-02-09,,,2018-02-15,Q,2018-02-12,Dividend income

In [36]:
pyEX.nextDayExtDateDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [37]:
pyEX.directoryDF(date=None)

,AdjustedPreviousOfficialClosingPrice,CompanyName,CountryofIncorporation,DailyListTimestamp,FinancialStatus,FirstDateListed,IPOFlag,InverseETPFlag,IssueDescription,IssueSubType,...,RoundLotSize,SICCode,SecurityName,SymbolinCMSSymbology,SymbolinCQSSymbology,SymbolinINETSymbology,TestIssue,TransferAgent,WhenDistributedFlag,WhenIssuedFlag
0,10.0000,ZEXIT Test Company,USA,2018-08-11T00:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,5678,ZEXIT Common Stock,ZEXIT,ZEXIT,ZEXIT,Y,American Stock Transfer,N,N
1,100.0000,ZXIET Test Company,USA,2018-08-11T00:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,2345,ZXIET Common Stock,ZXIET,ZXIET,ZXIET,Y,American Stock Transfer,N,N
2,1.0000,ZIEXT Test Company,USA,2018-08-11T00:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,1234,ZIEXT Common Stock,ZIEXT,ZIEXT,ZIEXT,Y,American Stock Transfer,N,N

In [38]:
pyEX.topsDF(symbols=None)

,askPrice,askSize,bidPrice,bidSize,lastSalePrice,lastSaleSize,lastSaleTime,lastUpdated,marketPercent,sector,securityType,symbol,volume
0,0,0,0,0,168.475,8,1533931194107,1533933793387,0.05792,materials,commonstock,KWR,1378
1,0,0,0,0,21.390,98,1533921565002,1533931200000,0.00698,n/a,misc,MHNC,298
2,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,DWTR,0
3,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,warrant,TACOW,0
4,0,0,0,0,3.325,400,1533930830526,1533931200000,0.04211,healthcareequipmentservices,commonstock,INFU,400
5,0,0,0,0,10.170,100,1533931155936,1533931200000,0.01096,diversifiedfinancials,commonstock,AI,3610
6,0,0,0,0,13.875,100,1533931173779,1533931327589,0.00746,consumerdurablesapparel,commonstock,NLS,1434
7,0,0,0,0,3.750,100,1533930000018,1533931200000,0.01955,materials,commonstock,NSU,13001
8,0,0,0,0,62.570,1,1533929191233,1533931200000,0.00117,n/a,etp,VYMI,178
9,0,0,0,0,1.685,100,1533931180072,1533931200000,0.01551,energy,commonstock,EPE,30792
10,0,0,0,0,80.900,100,1533930444720,1533931330982,0.03305,diversifiedfinancials,commonstock,FCFS,4121
11,0,0,0,0,28.275,100,1533931176143,1533931323224,0.03830,capitalgoods,commonstock,ATU,8964
12,0,0,0,0,21.630,30,1533931035719,1533931200000,0.01281,n/a,closedendfund,STK,1130
13,0,0,0,0,0.000,0,0,1533931200000,0.00000,retailing,commonstock,DIT,0
14,0,0,0,0,11.750,100,1533923042832,1533931200000,0.00389,n/a,closedendfund,EIM,200
15,0,0,0,0,16.560,100,1533931109938,1533931200000,0.08073,pharmaceuticalsbiotechnology,commonstock,EIDX,7500
16,0,0,0,0,31.050,100,1533931191916,1533931599911,0.02299,softwareservices,commonstock,DBX,507047
17,0,0,0,0,26.160,1,1533930833042,1533931200000,0.00079,n/a,misc,EZT,1
18,0,0,0,0,0.000,0,0,1533931200000,0.00000,pharmaceuticalsbiotechnology,commonstock,CVM,0
19,0,0,0,0,63.340,100,1533931187579,1533931324724,0.02380,softwareservices,commonstock,MMS,16464
20,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,closedendfund,HTD,0
21,0,0,0,0,63.670,100,1533924938424,1533931200068,0.00489,n/a,etp,DFE,300
22,0,0,0,0,51.330,100,1533931197881,1533933725478,0.01587,utilities,commonstock,PEG,35639
23,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,FPXI,0
24,0,0,0,0,8.775,1,1533931179676,1533931200000,0.01449,energy,commonstock,FI,17386
25,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,SYLD,0
26,0,0,0,0,13.175,100,1533930314076,1533931200000,0.01268,consumerservices,commonstock,RLH,2116
27,0,0,0,0,43.875,1,1533925351092,1533931200000,0.00007,n/a,etp,SMIN,1
28,0,0,0,0,47.010,80,1533907807652,1533931200000,0.01313,n/a,etp,GAMR,355
29,0,0,0,0,14.350,100,1533918390054,1533931200000,0.02402,energy,royaltytrst,MTR,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8644,0,0,0,0,0.000,0,0,1533900151929,0.00000,n/a,etp,ARVR,0
8645,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,SPXN,0
8646,0,0,0,0,12.100,65,1533931175123,1533931200432,0.05837,commercialprofessionalservices,commonstock,PICO,6365
8647,0,0,0,0,23.360,100,1533928250797,1533931200365,0.05025,n/a,misc,JSM,400
8648,0,0,0,0,70.550,9,1533931061947,1533931393843,0.05281,softwareservices,commonstock,LDOS,22117
8649,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,warrant,RWGE+,0
8650,0,0,0,0,0.000,0,0,1533931200000,0.00000,technologyhardwareequipment,commonstock,OCC,0
8651,0,0,0,0,3.280,100,1533914777367,1533931200000,0.01040,pharmaceuticalsbiotechnology,commonstock,NVLN,100
8652,0,0,0,0,21.690,100,1533926011956,1533931200000,0.00316,n/a,closedendfund,GBAB,100
8653,0,0,0,0,22.975,100,1533927720772,1533931200000,0.01967,n/a,closedendfund,NIE,825
8654,0,0,0,0,25.050,100,1533920081599,1533931200000,0.00746,n/a,etp,QYLD,807
8655,0,0,0,0,18.310,78,1533930859095,1533931200179,0.03205,pharmaceuticalsbiotechnology,adr,DBVT,2738
8656,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,misc,SNHNL,0
8657,0,0,0,0,91.495,20,1533931047987,1533933603888,0.19292,n/a,etp,BIL,55447
8658,0,0,0,0,90.430,100,1533931121118,1533931839228,0.02532,consumerservices,commonstock,JACK,20658
8659,0,0,0,0,26.680,200,1533931198093,1533931200000,0.01084,pharmaceuticalsbiotechnology,commonstock,TSRO,9734
8660,0,0,0,0,15.390,100,1533931175771,1533931323849,0.01701,realestate,reit,UMH,1403
8661,0,0,0,0,7.195,3,1533931145125,1533931200000,0.00467,softwareservices,commonstock,RMNI,1006
8662,0,0,0,0,3.075,400,1533931195003,1533931200000,0.02770,pharmaceuticalsbiotechnology,commonstock,ACRX,9621
8663,0,0,0,0,56.620,100,1533931176039,1533931324911,0.01949,householdpersonalproducts,commonstock,EPC,14521
8664,0,0,0,0,84.125,3,1533931061105,1533932015900,0.01600,capitalgoods,commonstock,AMWD,1460
8665,0,0,0,0,9.090,100,1533927539849,1533931200000,0.05562,transportation,commonstock,CAAP,10360
8666,0,0,0,0,2.155,100,1533918067904,1533931200000,0.00258,capitalgoods,commonstock,BWEN,100
8667,0,0,0,0,0.000,0,0,1533931200000,0.00000,pharmaceuticalsbiotechnology,commonstock,ARCT,0
8668,0,0,0,0,22.505,64,1533931194625,1533931292951,0.01788,pharmaceuticalsbiotechnology,adr,TEVA,73054
8669,0,0,0,0,180.500,100,1533931120944,1533931200000,0.02143,technologyhardwareequipment,commonstock,COHR,9061
8670,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,misc,BAC-L,0
8671,0,0,0,0,0.000,0,0,1533931200000,0.00000,n/a,etp,FYT,0
8672,0,0,0,0,0.000,0,0,1533931200000,0.00000,pharmaceuticalsbiotechnology,adr,IMRN,0
8673,0,0,0,0,121.220,100,1533929104393,1533931208494,0.03697,semiconductorssemiconductor,commonstock,CCMP,2859

In [39]:
pyEX.lastDF(symbols=None)

        price  size symbol           time
0      58.100   100    BNS  1533930989261
1       3.140   100   ACET  1533930360033
2       7.890   500   SPPP  1533926214839
3      13.025   100   HMTV  1533931108397
4      21.660    11    IDX  1533930940747
5       0.000     0   RAAX              0
6      25.110    19   IBDH  1533913248210
7      25.580    53   KEMP  1532546303461
8       0.000     0  TRTLU              0
9      31.805    43    RPD  1533931187143
10     23.750   193  NNN-F  1533839482404
11      3.750   100    OCC  1533142567780
12     81.160    11    AGM  1533931101457
13     22.125   100    ETH  1533931178637
14     28.250   100    MSB  1533670004648
15     37.820   100   TRNO  1533931150149
16      7.020   100     QD  1533931175638
17     14.485   100   OXFD  1533930448327
18      1.050   200    SLS  1533929936221
19      9.090   100   CAAP  1533927539849
20     25.975   200   MNTA  1533931198225
21     26.240   100  DCP-B  1533660673682
22     26.290   100  BATRA  1533919889975
23    571.515    25    MTD  1533930535046
24     23.000   100    CEE  1533908912749
25      8.270   500   TVIZ  1533908048028
26     30.190   100    GIL  1533931197102
27     25.350  1600  ETP-C  1533919174751
28     22.795   200    PST  1533931122245
29     52.970   100   COF+  1533067175400
...       ...   ...    ...            ...
9537   23.405    14  FRT-C  1533914258000
9538    7.700    61  GNE-A  1532974260737
9539  126.505    21   STRA  1533930942204
9540   20.500   200   SNSR  1533844798053
9541    1.470   100    DSS  1533325112927
9542   32.100   124    FXO  1533930963518
9543   18.155   100    PGZ  1533916039672
9544   23.560   140  SAN-B  1533665471538
9545   52.800   100   FSLR  1533931197823
9546    2.520    13   BOSC  1533912467647
9547    1.430    37  ROSEW  1533045279226
9548   24.530     6    EAB  1533747437754
9549    2.100   100   MPVD  1533841459496
9550   31.245   100     LB  1533931180972
9551    8.200   100   UFAB  1533754382068
9552    0.000     0    DYN              0
9553   38.800   100     DQ  1533930457897
9554   46.090   100   ETSY  1533931182557
9555   10.220   100   KAAC  1533930080314
9556  104.670   100    XPO  1533931197010
9557   33.720   100   SPXH  1521564023719
9558   68.670   100    HXL  1533931191587
9559    8.450   100   ASB+  1529091544729
9560   10.310  1100     BB  1533931193655
9561   49.975   200   MEAR  1533755291507
9562    5.235   400   TXMD  1533931156261
9563    9.260   100   DZSI  1533220086599
9564   54.665   100    SNE  1533931191144
9565    6.180   100   AMBO  1533325158101
9566   17.590   100   MRBK  1533844790011

[9567 rows x 4 columns]

In [40]:
pyEX.histDF(date=None)

,20161212,20161213,20161214,20161215,20161216,20161219,20161220,20161221,20161222,20161223,...,20180730,20180731,20180801,20180802,20180803,20180806,20180807,20180808,20180809,20180810
0,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...,[{'link': 'https://www.googleapis.com/download...

In [41]:
pyEX.deepDF(symbol=None)

Empty DataFrame
Columns: []
Index: [0]

In [43]:
pyEX.bookDF(symbol)

,asks,bids,quote.avgTotalVolume,quote.calculationPrice,quote.change,quote.changePercent,quote.close,quote.closeTime,quote.companyName,quote.delayedPrice,...,quote.previousClose,quote.primaryExchange,quote.sector,quote.symbol,quote.week52High,quote.week52Low,quote.ytdChange,systemEvent.systemEvent,systemEvent.timestamp,trades
0,[],[],23511202,close,-0.62,-0.00298,207.53,1533931200303,Apple Inc.,207.53,...,208.15,Nasdaq Global Select,Technology,AAPL,209.78,149.16,0.215604,C,1533935400006,"[{'price': 207.56, 'size': 100, 'tradeId': 742..."

In [44]:
pyEX.tradesDF(symbol)

                                                AAPL
0  [{'price': 207.56, 'size': 100, 'tradeId': 742...

In [45]:
pyEX.systemEventDF()

  systemEvent      timestamp
0           C  1533935400006

In [46]:
pyEX.tradingStatusDF(symbol)

  AAPL.reason AAPL.status  AAPL.timestamp
0                       T   1533900151928

In [47]:
pyEX.opHaltStatusDF(symbol)

   AAPL.isHalted  AAPL.timestamp
0          False   1533900151928

In [48]:
pyEX.ssrStatusDF(symbol)

  AAPL.detail  AAPL.isSSR  AAPL.timestamp
0                   False   1533900151928

In [49]:
pyEX.securityEventDF(symbol)

  AAPL.securityEvent  AAPL.timestamp
0        MarketClose   1533931200000

In [50]:
pyEX.tradeBreakDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [51]:
pyEX.auctionDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [52]:
pyEX.statsDF()

,volume,symbolsTraded,routedVolume,notional,marketShare
lastUpdated,1533935705532,1533934770065,1533935705532,1533935705532,1.533936e+12
value,156589012,5516,30565165,7997154403,2.327000e-02

In [54]:
pyEX.recentDF()

         date  isHalfday  litVolume  marketShare  routedVolume     volume
0  2018-08-09      False   40794162      0.02702      36295473  161235148
1  2018-08-08      False   40163047      0.02668      29986653  161004670
2  2018-08-07      False   42872256      0.02671      39619098  169676558
3  2018-08-06      False   38947711      0.02448      38033260  146519412
4  2018-08-03      False   42117609      0.02701      33036659  163032593
5  2018-08-02      False   48705654      0.02760      41153974  186840652
6  2018-08-01      False   50400792      0.02781      38771846  192348185

In [55]:
pyEX.recordsDF()

                      volume symbolsTraded routedVolume     notional
avg30Value         162076154          5581     34881346  8.60055e+09
previousDayValue   161235148          5500     36295473  8.13554e+09
recordDate        2018-02-09    2018-02-06   2016-11-10   2018-02-06
recordValue        286354807          6381     74855222  1.72697e+10

In [56]:
pyEX.summaryDF(date=None)

,averageDailyRoutedVolume,averageDailyVolume,averageFillSize,averageMarketShare,averageOrderSize,bin10000Percent,bin10000Trades,bin1000Percent,bin100Percent,bin101Percent,...,venueXCHIFirstWaveRate,venueXCHIFirstWaveWeight,venueXCISFirstWaveRate,venueXCISFirstWaveWeight,venueXNGSFirstWaveRate,venueXNGSFirstWaveWeight,venueXNYSFirstWaveRate,venueXNYSFirstWaveWeight,venueXPHLFirstWaveRate,venueXPHLFirstWaveWeight
0,49724407.57,147992555.8,201,0.02435,711,0.00102,5008,0.02435,0.73035,0.01605,...,0.82809,0.00193,0.94866,0.00272,0.99161,0.22478,0.98846,0.22319,0.97001,0.00866

In [57]:
pyEX.dailyDF(date=None, last='')
pyEX.marketsDF()

,lastUpdated,marketPercent,mic,tapeA,tapeB,tapeC,tapeId,venueName,volume
0,1533935705274,0.36054,TRF,1112748264,471232286,841964062,,TRF Volume,2425944612
1,1533935702782,0.15667,XNGS,351830252,168821295,533522886,Q,NASDAQ,1054174433
2,1533933900056,0.13066,XNYS,828276285,23814515,27056447,N,NYSE,879147247
3,1533935702479,0.09591,ARCX,172371142,295297358,177705564,P,NYSE Arca,645374064
4,1533935672432,0.06212,BATS,197201722,108757337,112055439,Z,BATS BZX,418014498
5,1533935702777,0.05595,EDGX,138629869,78363987,159462013,K,EDGX,376455869
6,1533934782935,0.04894,BATY,168670096,85878109,74765356,Y,BATS BYX,329313561
7,1533935659478,0.03078,XBOS,110535283,37950863,58613126,B,NASDAQ BX,207099272
8,1533934770066,0.02327,IEXG,89410918,18603313,48574781,V,IEX,156589012
9,1533935230080,0.01265,EDGA,37318551,24738586,23065402,J,EDGA,85122539
10,1533934735113,0.00755,XPHL,15463177,21317365,14020000,X,NASDAQ PSX,50800542
11,1533935310078,0.00675,XCIS,22894943,10643766,11900699,C,NYSE National,45439408
12,1533932848949,0.00498,XCHI,9362168,11481477,12678125,M,CHX,33521770
13,1533932297444,0.00323,XASE,4865139,14223134,2631624,A,NYSE American,21719897