In [1]:
import pyEX

# Symbols data

In [2]:
pyEX.symbolsDF().head()

             date  iexId  isEnabled                       name type
symbol
A      2018-09-26      2       True  Agilent Technologies Inc.   cs
AA     2018-09-26  12042       True          Alcoa Corporation   cs
AAAU   2018-09-26  14924       True   Perth Mint Physical Gold  N/A
AABA   2018-09-26   7653       True                Altaba Inc.   cs
AAC    2018-09-26   9169       True          AAC Holdings Inc.   cs

In [3]:
pyEX.symbolsList()[:10]

['A', 'AA', 'AAAU', 'AABA', 'AAC', 'AADR', 'AAL', 'AAMC', 'AAME', 'AAN']

# Bulk data fetch

In [16]:
%%time
pyEX.bulkBatch

test
CPU times: user 189 µs, sys: 70 µs, total: 259 µs
Wall time: 238 µs

# Stock API

In [4]:
symbol = 'AAPL'

In [5]:
pyEX.bookDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,primaryExchange,sector,size,symbol,timestamp,tradeId,type,week52High,week52Low,ytdChange
0,32963104.0,close,-1.77,-0.00797,220.42,2018-09-26 20:00:00.330,Apple Inc.,220.42,2018-09-26 20:00:00.330,0.06,...,Nasdaq Global Select,Technology,NaN,AAPL,NaT,NaN,quote,229.67,150.24,0.296695
0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,48.0,AAPL,2018-09-26 19:59:59.008,771078403.0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,6.0,AAPL,2018-09-26 19:59:58.931,771032537.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:57.608,770700061.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,5.0,AAPL,2018-09-26 19:59:56.043,770141585.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,113.0,AAPL,2018-09-26 19:59:55.202,769822028.0,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,300.0,AAPL,2018-09-26 19:59:55.202,769822011.0,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:54.327,769461976.0,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,200.0,AAPL,2018-09-26 19:59:54.320,769461144.0,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:54.320,769461139.0,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:54.316,769460825.0,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,400.0,AAPL,2018-09-26 19:59:53.874,769359345.0,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,500.0,AAPL,2018-09-26 19:59:52.989,769190419.0,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,300.0,AAPL,2018-09-26 19:59:52.988,769190233.0,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,2.0,AAPL,2018-09-26 19:59:52.225,769070583.0,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:52.202,769066872.0,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:52.070,769027274.0,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,5.0,AAPL,2018-09-26 19:59:51.526,768932718.0,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,95.0,AAPL,2018-09-26 19:59:51.526,768932711.0,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:51.441,768922400.0,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,...,NaN,NaN,100.0,AAPL,2018-09-26 19:59:50.979,768848291.0,NaN,NaN,NaN,NaN

In [6]:
pyEX.chartDF(symbol, timeframe='1m').head()

,change,changeOverTime,changePercent,close,high,label,low,open,unadjustedVolume,volume,vwap
date,,,,,,,,,,,
2018-08-24,0.67,0.000000,0.311,216.16,216.90,Aug 24,215.11,216.60,18476356,18476356,216.0586
2018-08-27,1.78,0.008235,0.823,217.94,218.74,Aug 27,216.33,217.15,20525117,20525117,217.7725
2018-08-28,1.76,0.016377,0.808,219.70,220.54,Aug 28,218.92,219.01,22776766,22776766,219.6874
2018-08-29,3.28,0.031551,1.493,222.98,223.49,Aug 29,219.41,220.15,27254804,27254804,221.8049
2018-08-30,2.05,0.041034,0.919,225.03,228.26,Aug 30,222.40,223.25,48793824,48793824,225.2064

In [7]:
pyEX.chartDF(symbol, timeframe='1d').head()

                   average  changeOverTime   close    high     label     low  \
date       minute
2018-09-26 09:30   221.394        0.000000  221.59  221.84  09:30 AM  221.10
           09:31   222.014        0.002800  221.92  222.16  09:31 AM  221.56
           09:32   222.192        0.003604  222.36  222.40  09:32 AM  221.93
           09:33   222.242        0.003830  222.23  222.37  09:33 AM  222.15
           09:34   222.610        0.005492  222.65  222.69  09:34 AM  222.52

                   marketAverage  marketChangeOverTime  marketClose  \
date       minute
2018-09-26 09:30         221.263              0.000000      221.626
           09:31         221.943              0.003073      222.040
           09:32         222.117              0.003860      222.310
           09:33         222.252              0.004470      222.220
           09:34         222.605              0.006065      222.710

                   marketHigh  marketLow  marketNotional  \
date       minute
2018-09-26 09:30       221.94     221.00    2.113881e+08
           09:31       222.20     221.50    3.988010e+07
           09:32       222.43     221.84    3.287668e+07
           09:33       222.38     222.12    1.911081e+07
           09:34       222.74     221.15    4.261834e+07

                   marketNumberOfTrades  marketOpen  marketVolume    notional  \
date       minute
2018-09-26 09:30                   2563     221.000        955372  1134866.78
           09:31                   1508     221.580        179686   631852.98
           09:32                   1193     222.040        148015   353285.44
           09:33                    926     222.270         85987   334030.32
           09:34                   1528     222.241        191453   435424.47

                   numberOfTrades    open  volume
date       minute
2018-09-26 09:30               38  221.14    5126
           09:31               28  221.64    2846
           09:32               25  221.93    1590
           09:33               17  222.22    1503
           09:34               21  222.54    1956

In [8]:
pyEX.companyDF(symbol)

,CEO,companyName,description,exchange,industry,issueType,sector,tags,website
symbol,,,,,,,,,
AAPL,Timothy D. Cook,Apple Inc.,"Apple Inc is designs, manufactures and markets...",Nasdaq Global Select,Computer Hardware,cs,Technology,"[Technology, Consumer Electronics, Computer Ha...",http://www.apple.com

In [9]:
pyEX.collectionsDF('sector', 'Health Care').head()

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
LLY,3378661,close,0.6100,0.00577,106.310,2018-09-26 20:02:00.912,Eli Lilly and Company,106.310,2018-09-26 20:02:00.912,0.0000,...,114175648971,106.1500,2018-09-26 13:31:31.314,21.14,105.7000,New York Stock Exchange,Healthcare,107.840,73.69,0.278934
CYH,2048187,close,0.0600,0.01760,3.470,2018-09-26 20:02:51.944,Community Health Systems Inc.,3.470,2018-09-26 20:02:51.944,0.0000,...,403400471,3.4500,2018-09-26 13:30:46.848,-3.86,3.4100,New York Stock Exchange,Healthcare,7.890,2.66,-0.221239
LHCG,229544,close,-0.5300,-0.00522,100.990,2018-09-26 20:00:00.279,LHC Group,100.990,2018-09-26 20:00:00.279,0.0000,...,3164334819,101.8600,2018-09-26 13:30:00.649,36.99,101.5200,Nasdaq Global Select,Healthcare,102.445,58.651,0.642297
APRI,639156,close,-0.0057,-0.01865,0.300,2018-09-26 20:00:00.470,Apricus Biosciences Inc.,0.300,2018-09-26 20:00:00.470,-0.0060,...,7032435,0.2979,2018-09-26 13:30:00.060,-0.43,0.3057,NASDAQ Capital Market,Healthcare,3.342,0.25,-0.867313
HSGX,1362846,close,-0.0148,-0.02509,0.575,2018-09-26 20:00:00.337,Histogenics Corporation,0.575,2018-09-26 20:00:00.337,0.0806,...,16555115,0.5805,2018-09-26 13:30:00.513,-0.61,0.5898,NASDAQ Capital Market,Healthcare,3.350,0.51011,-0.740162

In [10]:
pyEX.cryptoDF().head()

,askPrice,askSize,avgTotalVolume,bidPrice,bidSize,calculationPrice,change,changePercent,close,closeTime,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
BTCUSDT,6501.0000,1.43342,None,6500.0200,0.898911,realtime,98.5100,0.01539,6478.995958,2018-09-27 00:54:08.407,...,None,6401.5000,2018-09-26 00:54:08.407,None,6401.5700,crypto,cryptocurrency,None,None,None
EOSUSDT,5.6321,100.00000,None,5.6305,300.000000,realtime,0.2964,0.05557,5.473352,2018-09-27 00:54:08.133,...,None,5.3340,2018-09-26 00:54:08.133,None,5.3339,crypto,cryptocurrency,None,None,None
ETHUSDT,217.8500,1.83550,None,217.7600,0.459010,realtime,2.4600,0.01143,215.367191,2018-09-27 00:54:08.400,...,None,215.3100,2018-09-26 00:54:08.400,None,215.3200,crypto,cryptocurrency,None,None,None
BNBUSDT,9.7817,8.34000,None,9.7599,160.760000,realtime,0.0649,0.00668,9.753525,2018-09-27 00:54:08.335,...,None,9.7184,2018-09-26 00:54:08.335,None,9.7200,crypto,cryptocurrency,None,None,None
ONTUSDT,1.8460,43.42600,None,1.8450,451.804000,realtime,0.0160,0.00875,1.843181,2018-09-27 00:54:08.260,...,None,1.8290,2018-09-26 00:54:08.260,None,1.8320,crypto,cryptocurrency,None,None,None

In [11]:
pyEX.delayedQuoteDF(symbol)

,delayedPrice,delayedPriceTime,delayedSize,high,low,processedTime
symbol,,,,,,
AAPL,220.42,2018-09-26 20:00:00.330,2454028,223.75,219.76,1537992901695

In [12]:
pyEX.dividendsDF(symbol, timeframe='ytd')

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [13]:
pyEX.earningsDF(symbol)

,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,numberOfEstimates,symbolId,yearAgo,yearAgoChangePercent,symbol
EPSReportDate,,,,,,,,,,,,,
2018-07-31,0.17,2.34,AMC,2.17,0.299401,2.17,2018-06-30,Q3 2018,10,11,1.67,0.401198,AAPL
2018-05-01,0.04,2.73,AMC,2.69,0.280952,2.69,2018-03-31,Q2 2018,10,11,2.10,0.300000,AAPL
2018-02-01,0.07,3.89,AMC,3.82,0.136905,3.82,2017-12-31,Q1 2018,9,11,3.36,0.157738,AAPL
2017-11-02,0.20,2.07,AMC,1.87,0.119760,1.87,2017-09-30,Q4 2017,10,11,1.67,0.239521,AAPL

In [14]:
pyEX.earningsTodayDF()

Empty DataFrame
Columns: []
Index: []

In [15]:
pyEX.spreadDF(symbol).head()

,effectiveQuoted,effectiveSpread,priceImprovement,venueName,volume
venue,,,,,
XBOS,0.908902,0.018072,0.001307,Nasdaq BX,8803129
XCHI,0.545061,0.017972,0.007573,CHX,68352
XCIS,0.967844,0.016394,0.000379,NYSE National,1881992
BATY,0.857991,0.016194,0.001711,Cboe BYX,5855716
XPHL,0.866583,0.015626,0.001894,Nasdaq PSX,4741847

In [ ]:
pyEX.financialsDF(symbol)

In [ ]:
pyEX.ipoTodayDF()

In [ ]:
pyEX.ipoUpcomingDF().head()

In [ ]:
pyEX.thresholdDF(date=None)

In [ ]:
pyEX.shortInterestDF(symbol, date=None)

In [ ]:
pyEX.marketShortInterestDF(date=None)

In [ ]:
pyEX.stockStatsDF(symbol)

In [ ]:
pyEX.largestTradesDF(symbol).head()

In [ ]:
pyEX.listDF(option='mostactive')

In [ ]:
pyEX.logoNotebook(symbol)

In [ ]:
pyEX.newsDF(symbol, count=10)

In [ ]:
pyEX.marketNewsDF(count=10)

In [ ]:
pyEX.ohlcDF(symbol)

In [ ]:
pyEX.marketOhlcDF().head()

In [ ]:
pyEX.peersDF(symbol)

In [ ]:
pyEX.yesterdayDF(symbol)

In [ ]:
pyEX.marketYesterdayDF().head()

In [ ]:
pyEX.priceDF(symbol)

In [ ]:
pyEX.quoteDF(symbol)

In [ ]:
pyEX.relevantDF(symbol)

In [ ]:
pyEX.sectorPerformanceDF()

In [ ]:
pyEX.splitsDF(symbol, timeframe='5y')

In [ ]:
pyEX.volumeByVenueDF(symbol)

# Reference Data

In [ ]:
pyEX.corporateActionsDF(date=None)

In [ ]:
pyEX.dividendsDF(symbol)

In [ ]:
pyEX.nextDayExtDateDF(date=None)

In [ ]:
pyEX.directoryDF(date=None)

# Market Data

In [ ]:
pyEX.topsDF(symbols=None).head()

In [ ]:
pyEX.lastDF(symbols=None).head()

In [ ]:
pyEX.histDF(date=None).head()

In [ ]:
pyEX.deepDF(symbol=None).head()

In [ ]:
pyEX.topsBookDF(symbol).head()

In [ ]:
pyEX.tradesDF(symbol)

In [ ]:
pyEX.systemEventDF()

In [ ]:
pyEX.tradingStatusDF(symbol)

In [ ]:
pyEX.opHaltStatusDF(symbol)

In [ ]:
pyEX.ssrStatusDF(symbol)

In [ ]:
pyEX.securityEventDF(symbol)

In [ ]:
pyEX.tradeBreakDF(symbol)

In [ ]:
pyEX.auctionDF(symbol)

In [ ]:
pyEX.officialPriceDF(symbol)

# Stats Data

In [ ]:
pyEX.statsDF()

In [ ]:
pyEX.recentDF()

In [ ]:
pyEX.recordsDF()

In [ ]:
pyEX.summaryDF(date=None)

In [ ]:
pyEX.dailyDF(date=None, last='')

# Markets Data

In [ ]:
pyEX.marketsDF()