In [1]:
import pyEX
symbol = 'AAPL'

In [2]:
pyEX.bookDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,primaryExchange,sector,size,symbol,timestamp,tradeId,type,week52High,week52Low,ytdChange
0,30348541.0,close,0.13,0.0006,218.37,1.537387e+12,Apple Inc.,218.37,1.537387e+12,0.12,...,Nasdaq Global Select,Technology,NaN,AAPL,NaN,NaN,quote,229.67,149.16,0.282072
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19.0,AAPL,1.537387e+12,724673787.0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,81.0,AAPL,1.537387e+12,724673189.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19.0,AAPL,1.537387e+12,724673179.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,AAPL,1.537387e+12,724672998.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,AAPL,1.537387e+12,724672807.0,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,219.0,AAPL,1.537387e+12,724671028.0,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19.0,AAPL,1.537387e+12,724671016.0,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,200.0,AAPL,1.537387e+12,724670960.0,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,AAPL,1.537387e+12,724666716.0,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,AAPL,1.537387e+12,724666694.0,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,AAPL,1.537387e+12,724551554.0,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,219.0,AAPL,1.537387e+12,724551533.0,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,217.0,AAPL,1.537387e+12,724551511.0,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,AAPL,1.537387e+12,724253630.0,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,123.0,AAPL,1.537387e+12,724102447.0,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,96.0,AAPL,1.537387e+12,724074596.0,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,AAPL,1.537387e+12,724074585.0,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,AAPL,1.537387e+12,724007653.0,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18.0,AAPL,1.537387e+12,723800345.0,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.0,AAPL,1.537387e+12,723434781.0,NaN,NaN,NaN,NaN

In [3]:
pyEX.chartDF(symbol, timeframe='1m').head()

,change,changeOverTime,changePercent,close,high,label,low,open,unadjustedVolume,volume,vwap
date,,,,,,,,,,,
2018-08-17,4.26,0.000000,1.997,217.58,217.95,Aug 17,213.160,213.44,35426997,35426997,216.0085
2018-08-20,-2.12,-0.009744,-0.974,215.46,219.18,Aug 20,215.110,218.10,30287695,30287695,216.4783
2018-08-21,-0.42,-0.011674,-0.195,215.04,217.19,Aug 21,214.025,216.80,26159755,26159755,215.6262
2018-08-22,0.01,-0.011628,0.005,215.05,216.36,Aug 22,213.840,214.10,19018131,19018131,215.1777
2018-08-23,0.44,-0.009606,0.205,215.49,217.05,Aug 23,214.600,214.65,18883224,18883224,215.9624

In [4]:
pyEX.companyDF(symbol)

,CEO,companyName,description,exchange,industry,issueType,sector,tags,website
symbol,,,,,,,,,
AAPL,Timothy D. Cook,Apple Inc.,"Apple Inc is designs, manufactures and markets...",Nasdaq Global Select,Computer Hardware,cs,Technology,"[Technology, Consumer Electronics, Computer Ha...",http://www.apple.com

In [5]:
pyEX.collectionsDF('sector', 'Health Care').head()

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
LLY,3337327,close,-1.1400,-0.01067,105.7400,1.537387e+12,Eli Lilly and Company,105.7400,1.537387e+12,0.0000,...,1.135635e+11,106.7600,1.537364e+12,21.02,106.8800,New York Stock Exchange,Healthcare,107.840,73.69,0.276707
CYH,1956888,close,0.0100,0.00295,3.4000,1.537387e+12,Community Health Systems Inc.,3.4000,1.537387e+12,0.0000,...,3.952627e+08,3.3900,1.537364e+12,-3.78,3.3900,New York Stock Exchange,Healthcare,7.890,2.66,-0.240354
LHCG,196159,close,-1.1700,-0.01204,96.0100,1.537387e+12,LHC Group,96.0100,1.537387e+12,-0.0100,...,3.008296e+09,97.1800,1.537364e+12,35.17,97.1800,Nasdaq Global Select,Healthcare,100.900,58.651,0.565045
APRI,596612,close,-0.0001,-0.00036,0.2800,1.537387e+12,Apricus Biosciences Inc.,0.2800,1.537387e+12,0.0050,...,6.563606e+06,0.2814,1.537364e+12,-0.40,0.2801,NASDAQ Capital Market,Healthcare,3.342,0.25,-0.861697
HSGX,1225909,close,0.0201,0.03722,0.5601,1.537387e+12,Histogenics Corporation,0.5601,1.537387e+12,0.0069,...,1.612612e+07,0.5312,1.537364e+12,-0.60,0.5400,NASDAQ Capital Market,Healthcare,3.350,0.51011,-0.701910

In [6]:
pyEX.cryptoDF().head()

,askPrice,askSize,avgTotalVolume,bidPrice,bidSize,calculationPrice,change,changePercent,close,closeTime,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
BTCUSDT,6435.9900,0.000038,None,6435.9700,0.039211,realtime,114.2000,0.01806,6328.343435,1537388244258,...,None,6321.7900,1537301844258,None,6320.0400,crypto,cryptocurrency,None,None,None
EOSUSDT,5.2855,3.780000,None,5.2761,3.780000,realtime,0.2261,0.04474,5.086088,1537388244289,...,None,5.0540,1537301844289,None,5.0566,crypto,cryptocurrency,None,None,None
ETHUSDT,211.7500,4.552700,None,211.7400,992.570260,realtime,3.9200,0.01886,207.653092,1537388244210,...,None,207.8200,1537301844210,None,207.7000,crypto,cryptocurrency,None,None,None
BNBUSDT,9.6673,3.700000,None,9.6564,19.910000,realtime,0.1848,0.01949,9.539771,1537388241825,...,None,9.4822,1537301841825,None,9.4822,crypto,cryptocurrency,None,None,None
ONTUSDT,1.7210,11.614000,None,1.7190,342.400000,realtime,-0.0120,-0.00694,1.705862,1537388241306,...,None,1.7300,1537301841306,None,1.7290,crypto,cryptocurrency,None,None,None

In [7]:
pyEX.delayedQuoteDF(symbol)

,delayedPrice,delayedPriceTime,delayedSize,high,low,processedTime
symbol,,,,,,
AAPL,218.37,1537387200494,1772151,219.62,215.3,1537388100968

In [8]:
pyEX.dividendsDF(symbol, timeframe='ytd')

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [9]:
pyEX.earningsDF(symbol)

,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,numberOfEstimates,symbolId,yearAgo,yearAgoChangePercent,symbol
EPSReportDate,,,,,,,,,,,,,
2018-07-31,0.17,2.34,AMC,2.17,0.299401,2.17,2018-06-30,Q3 2018,10,11,1.67,0.401198,AAPL
2018-05-01,0.04,2.73,AMC,2.69,0.280952,2.69,2018-03-31,Q2 2018,10,11,2.10,0.300000,AAPL
2018-02-01,0.07,3.89,AMC,3.82,0.136905,3.82,2017-12-31,Q1 2018,9,11,3.36,0.157738,AAPL
2017-11-02,0.20,2.07,AMC,1.87,0.119760,1.87,2017-09-30,Q4 2017,10,11,1.67,0.239521,AAPL

In [10]:
pyEX.earningsTodayDF()

,EPSReportDate,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,headline,...,quote.primaryExchange,quote.sector,quote.symbol,quote.week52High,quote.week52Low,quote.ytdChange,symbolId,when,yearAgo,yearAgoChangePercent
symbol,,,,,,,,,,,,,,,,,,,,,
CPRT,2018-09-19,,,BTO,0.47,0.342857,0.47,2018-07-31,Q4 2018,"Copart misses by $0.06, beats on revenue",...,Nasdaq Global Select,Consumer Cyclical,CPRT,67.079,32.27,0.338098,1440,bto,0.35,
RHT,2018-09-19,,,AMC,0.59,0.017241,0.59,2018-08-31,Q2 2019,NaN,...,New York Stock Exchange,Technology,RHT,177.700,104.51,0.182112,5893,amc,0.58,
MLHR,2018-09-19,,,AMC,0.65,0.140351,0.65,2018-08-31,Q1 2019,"Herman Miller beats by $0.04, beats on revenue",...,Nasdaq Global Select,Industrials,MLHR,41.845,29.95,-0.071180,4438,amc,0.57,

In [11]:
pyEX.spreadDF(symbol).head()

,effectiveQuoted,effectiveSpread,priceImprovement,venueName,volume
venue,,,,,
XBOS,0.907921,0.017669,0.001301,Nasdaq BX,7919275
XCHI,0.531762,0.017047,0.007916,CHX,59266
XCIS,0.965076,0.016448,0.000419,NYSE National,1408410
BATY,0.859445,0.016122,0.001728,Cboe BYX,5198824
XPHL,0.877606,0.015586,0.001752,Nasdaq PSX,4225181

In [12]:
pyEX.financialsDF(symbol)

,cashChange,cashFlow,costOfRevenue,currentAssets,currentCash,currentDebt,grossProfit,netIncome,operatingExpense,operatingGainsLosses,operatingIncome,operatingRevenue,researchAndDevelopment,shareholderEquity,totalAssets,totalCash,totalDebt,totalLiabilities,totalRevenue,symbol
reportDate,,,,,,,,,,,,,,,,,,,,
2018-06-30,-13088000000,14488000000,32844000000,115761000000,31971000000,17472000000,20421000000,11519000000,7809000000,None,12612000000,53265000000,3701000000,114949000000,349197000000,70970000000,114600000000,None,53265000000,AAPL
2018-03-31,17568000000,15130000000,37715000000,130053000000,45059000000,20478000000,23422000000,13822000000,7528000000,None,15894000000,61137000000,3378000000,126878000000,367502000000,87940000000,121840000000,None,61137000000,AAPL
2017-12-31,7202000000,28293000000,54381000000,143810000000,27491000000,18478000000,33912000000,20065000000,7638000000,None,26274000000,88293000000,3407000000,140199000000,406794000000,77153000000,122400000000,None,88293000000,AAPL
2017-09-30,1718000000,15122000000,32648000000,128645000000,20289000000,18473000000,19931000000,10714000000,6811000000,None,13120000000,52579000000,2997000000,134047000000,375319000000,74181000000,115680000000,None,52579000000,AAPL

In [13]:
pyEX.ipoTodayDF()

,address,amount,auditor,businessDescription,ceo,cik,city,companyCounsel,companyDescription,companyName,...,status,stockholderEquity,totalAssets,totalExpenses,totalLiabilities,underwriterCounsel,underwriters,url,useOfProceeds,zip
symbol,,,,,,,,,,,,,,,,,,,,,
XYF,"7-8F,BLOCK A,AEROSPACE SCIENCE&TECH PLZ",110000000,Not Specified,Our mission is to utilize internet technology ...,Yue (Justin) Tang,0001725033,SHENZHEN 518067,[Davis Polk & Wardwell LLP],Our mission is to utilize internet technology ...,X FINANCIAL,...,Filed,346560618,564926358,5823387,217887705,"[Wilson Sonsini Goodrich & Rosati, P.C.]","[AMTD Global Markets Limited, China Everbright...",www.xiaoying.com,We estimate that we will receive net proceeds ...,

In [14]:
pyEX.ipoUpcomingDF()

,address,amount,auditor,businessDescription,ceo,cik,city,companyCounsel,companyDescription,companyName,...,status,stockholderEquity,totalAssets,totalExpenses,totalLiabilities,underwriterCounsel,underwriters,url,useOfProceeds,zip
symbol,,,,,,,,,,,,,,,,,,,,,
BSVN,1039 NW 63RD STREET,64837500,"Broadridge Financial Solutions, Inc","We are Bank7 Corp., a bank holding company hea...",Thomas L. Travis,0001746129,OKLAHOMA CITY,"[Paul Foster Law Offices, P.C., and Hunton And...","We are Bank7 Corp., a bank holding company hea...",BANK7 CORP.,...,Filed,77553487,727607471,1412542,650053984,[Bracewell LLP],"[Sandler O'Neill and Partners, L.P]",www.bank7.com,We estimate that the net proceeds to us from t...,73116
ELAN,2500 INNOVATION WAY,1352350000,"Computershare Trust Company, N.A",Founded in 1954 as part of Eli Lilly and Compa...,Jeffrey N. Simmons,0001739104,GREENFIELD,"[Barnes & Thornburg LLP and Weil, Gotshal & Ma...",Founded in 1954 as part of Eli Lilly and Compa...,ELANCO ANIMAL HEALTH INC,...,Filed,7586600000,8577400000,18000000,990800000,[Ropes & Gray LLP],"[Academy Securities, Inc, Barclays Capital Inc...",www.elanco.com,We estimate that the net proceeds to us from t...,46140
EB,"410 TOWNSEND, SUITE 300",220000000,"American Stock Transfer & Trust Company, LLC",We founded Eventbrite to bring the world toget...,Julia Hartz,0001475115,SAN FRANCISCO,[Goodwin Procter LLP],We founded Eventbrite to bring the world toget...,"EVENTBRITE, INC.",...,Filed,-151183000,638651000,4500000,455816000,"[Wilson Sonsini Goodrich & Rosati, P.C.]","[Stifel Nicolaus & Company, Incorporated, SunT...",www.eventbrite.com,We estimate that the net proceeds from the sal...,94107
FTCH,"211 OLD STREET, THE BOWER, 4TH FLOOR",600056016,"Computershare Trust Company, N.A",Farfetch exists for the love of fashion. We be...,José Neves,0001740915,LONDON EC1V 9NR,[Latham & Watkins LLP],Farfetch exists for the love of fashion. We be...,FARFETCH LTD,...,Filed,432538000,600505000,8089262,167967000,[Fenwick & West LLP],"[BNP Paribas Securities Corp., Cowen and Compa...",aboutfarfetch.com,We estimate that the net proceeds to us from t...,
YMAB,750 THIRD AVENUE,79999995,"American Stock Transfer & Trust Company, LLC",We are a late-stage clinical biopharmaceutical...,Claus Juan Moller San Pedro,0001722964,NEW YORK,[Satterlee Stephens LLP],We are a late-stage clinical biopharmaceutical...,"Y-MABS THERAPEUTICS, INC.",...,Filed,65521000,73298000,4400000,7777000,[Shearman & Sterling LLP],"[BTIG, LLC, Canaccord Genuity LLC]",www.ymabs.com,We estimate that the net proceeds to us from t...,10017
RRI,807 LAS CIMAS PARKWAY,105000000,Equiniti Trust Company,We are a growth-oriented Delaware corporation ...,George B. Peyton V,0001740321,AUSTIN,[Sidley Austin LLP],We are a growth-oriented Delaware corporation ...,"REMORA ROYALTIES, INC.",...,Filed,-21706815,76173762,4500000,97880577,[Latham & Watkins LLP],"[Seaport Global Securities LLC, Stephens Inc.]",www.remoraroyalties.com,We will receive net proceeds of approximately ...,78746
VIOT,"WANSHENG SQUARE, RM 1302 TOWER C",114000000,Not Specified,Our Mission &#10; &#10; IoT @ Home: Redefinin...,Xiaoping Chen,0001742770,"GUANGZHOU, GUANGDONG 510220","[Skadden, Arps, Slate, Meagher & Flom LLP]",Our Mission &#10; &#10; IoT @ Home: Redefinin...,"VIOMI TECHNOLOGY CO., LTD",...,Filed,-14835000,153671000,3843836,105403000,[Cleary Gottlieb Steen & Hamilton LLP],"[Needham & Company, LLC]",www.viomi.com.cn,We estimate that we will receive net proceeds ...,
ARCE,RUA ELVIRA FERRAZ 250,183333332,Not Specified,Our mission is to transform the way students l...,Ari de Sá Cavalcante Neto,0001740594,SAO PAULO - SP 04552-040,[Davis Polk & Wardwell LLP],Our mission is to transform the way students l...,ARCO PLATFORM LTD.,...,Filed,73171000,103380000,4246881,30253000,[White and Case LLP],"[Allen & Company LLC, BTG Pactual US Capital L...",www.arcoeducacao.com.br,We estimate that the net proceeds from our iss...,
SVMK,ONE CURIOSITY WAY,135000000,"Computershare Trust Company, N.A",We are a leading global provider of survey sof...,Alexander J. Lurie,0001739936,SAN MATEO,"[Wilson Sonsini Goodrich & Rosati, P.C.]",We are a leading global provider of survey sof...,SVMK INC.,...,Filed,27609000,578828000,8000000,551219000,[Latham & Watkins LLP],"[Code Advisors LLC, Credit Suisse Securities (...",www.surveymonkey.com,We estimate that the net proceeds to us from t...,94403
CBNK,One Church Street,30087936,"American Stock Transfer & Trust Company, LLC","We are Capital Bancorp, Inc., a bank holding c...",Edward F. Barry,0001419536,Rockville,[Holland and Knight LLP],"We are Capital Bancorp, Inc., a bank holding c...",CAPITAL BANCORP INC,...,Filed,86994094,1067786156,1250000,980792062,[Covington & Burling LLP],"[Hovde Group, LLC, Sandler O’Neill & Partners,...",www.capitalbankmd.com,Assuming an initial public offering price of $...,20850
ETTX,35 GATEHOUSE DRIVE,75000005,"Computershare Trust Company, N.A",We are a clinical-stage biopharmaceutical comp...,Manoussos Perros,0001724344,WALTHAM,[Cooley LLP],We are a clinical-stage biopharmaceutical comp...,ENTASIS THERAPEUTICS HOLDINGS INC.,...,Filed,-71717000,41503000,3500000,8507000,[Wilmer Cutler Pickering Hale and Dorr LLP],"[SunTrust Robinson Humphrey, Inc, Wedbush Secu...",www.entasistx.com,We estimate that the net proceeds from our iss...,02451
STRO,"310 UTAH AVE., SUITE 150",75000000,"American Stock Transfer & Trust Company, LLC","We are a clinical stage drug discovery, develo...",William J. Newell,0001382101,SOUTH SAN FRANCISCO,[Fenwick & West LLP],"We are a clinical stage drug discovery, develo...",SUTRO BIOPHARMA INC,...,Filed,-132019000,45181000,3900000,41480000,[Cooley LLP],"[JMP Securities LLC, Wedbush Securities Inc]",www.sutrobio.com,We estimate that the net proceeds from our sal...,94080
ARVN,"395 WINCHESTER COMPANY, LLC",100000005,"Computershare Trust Company, N.A",We are a biopharmaceutical company dedicated t...,John Houston,0001655759,NEW HAVEN,[Wilmer Cutler Pickering Hale and Dorr LLP],We are a biopharmaceutical company dedicated t...,"ARVINAS HOLDING COMPANY, LLC",...,Filed,-158515897,105991051,3100000,61710368,[Goodwin Procter LLP],[],www.arvinas.com,We estimate that the net proceeds from our iss...,06511
UROV,5151 CALIFORNIA AVENUE,150000000,"American Stock Transfer & Trust Company, LLC",We are a clinical-stage biopharmaceutical comp...,Keith A. Katkin,0001740547,IRVINE,[Cooley LLP],We are a clinical-stage biopharmaceutical comp...,UROVANT SCIENCES LTD.,...,Filed,-5135125,11662384,2300000,16797509,[Latham & Watkins LLP],[],www.urovant.com,We estimate that the net proceeds from our iss...,92617
LAIX,"3/F. BUILDING B, NO. 1687 CHANGYANG ROAD",71875000,Not Specified,Our Mission &#10; &#10; Empower everyone to a...,Yi Wang,0001742056,SHANGHAI 200090,"[Skadden, Arps, Slate, Meagher & Flom LLP]",Our Mission &#10; &#10; Empower everyone to a...,LAIX INC.,...,Filed,-94683050,70630291,3727950,63993651,[Kirkland & Ellis International LLP],[],www.liulishuo.com,We estimate that we will receive net proceeds ...,
RMED,2070 LAS PALMAS DRIVE,49999995,"American Stock Transfer & Trust Company, LLC",We are a commercial-stage medical device compa...,Dean Irwin,0001716621,CARLSBAD,"[Wilson Sonsini Goodrich & Rosati, P.C.]",We are a commercial-stage medical device compa...,"RA MEDICAL SYSTEMS, INC.",...,Filed,9778000,16605000,3300000,6827000,[Cooley LLP],"[Maxim Group, LLC, Nomura Securities Internati...",www.ramed.com,We estimate that the net proceeds from the sal...,92011
GRTS,"5858 HORTON STREET, SUITE 210",84999992,"American Stock Transfer & Trust Company, LLC",We are an immuno-oncology company developing t...,Andrew Allen,0001656634,EMERYVILLE,[Latham & Watkins LLP],We are an immuno-oncology company developing t...,"GRITSTONE ONCOLOGY, INC.",...,Filed,78672000,95951000,3000000,17279000,[Cooley LLP],"[BTIG, LLC]",www.gritstoneoncology.com,We estimate that the net proceeds from the sal...,94608

In [15]:
pyEX.thresholdDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [16]:
pyEX.shortInterestDF(symbol, date=None)

Empty DataFrame
Columns: []
Index: []

In [17]:
pyEX.marketShortInterestDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [18]:
pyEX.stockStatsDF(symbol)

,EBITDA,EPSSurpriseDollar,EPSSurprisePercent,beta,cash,companyName,consensusEPS,day200MovingAvg,day30ChangePercent,day50MovingAvg,...,shortInterest,shortRatio,ttmEPS,week52change,week52high,week52low,year1ChangePercent,year2ChangePercent,year5ChangePercent,ytdChangePercent
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,47576000000,None,1.487,1.360453,151334000000,Apple Inc.,2.69,183.38432,0.057435,208.0387,...,47549672,1.54,10.36,39.623,229.67,149.16,0.39623,0.984926,2.532603,0.281472

In [19]:
pyEX.largestTradesDF(symbol).head()

                 price   size timeLabel venue     venueName
time
1537366924537  215.855  23200  10:22:04  None  Off Exchange
1537365313223  216.660  18902  09:55:13  XNGS        Nasdaq
1537373522224  217.980  13496  12:12:02  XNGS        Nasdaq
1537385326792  218.230  13400  15:28:46  None  Off Exchange
1537369710766  217.170  13140  11:08:30  XNGS        Nasdaq

In [20]:
pyEX.listDF(option='mostactive')

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
CRON,24952752,close,1.130,0.09775,12.69,1537387200221,Cronos Group Inc.,12.690,1537387200221,-0.330,...,2244932521,12.95,1537363800773,NaN,11.56,NASDAQ Global Market,Healthcare,15.3000,1.70,0.532634
AMD,135056203,close,-0.720,-0.02255,31.21,1537387200504,Advanced Micro Devices Inc.,31.210,1537387200504,0.040,...,30425767885,31.52,1537363800099,91.79,31.93,NASDAQ Capital Market,Technology,34.1400,9.04,1.885465
BAC,45963629,close,0.790,0.02615,31.00,1537387211900,Bank of America Corporation,31.000,1537387211900,-0.103,...,309560826534,30.14,1537363806917,14.09,30.21,New York Stock Exchange,Financial Services,33.0500,24.58,0.049375
GE,48302014,close,0.200,0.01580,12.86,1537387233277,General Electric Company,12.860,1537387233277,0.010,...,111767301660,12.61,1537363809254,14.13,12.66,New York Stock Exchange,Industrials,25.2100,11.94,-0.261131
F,37798531,close,0.200,0.02088,9.78,1537387258147,Ford Motor Company,9.780,1537387258147,0.010,...,38980405542,9.61,1537363800256,6.43,9.58,New York Stock Exchange,Consumer Cyclical,13.4800,9.22,-0.182440
ABEV,33585879,sip,0.005,0.00110,4.56,1537300902792,Ambev S.A. American Depositary Shares (Each re...,4.565,1537387200422,0.000,...,71761785739,4.54,1537363864823,19.85,4.56,New York Stock Exchange,Consumer Defensive,7.4300,4.28,-0.300841
CGC,15502103,close,-2.540,-0.04895,49.35,1537387245119,Canopy Growth Corporation,49.350,1537387245119,-0.600,...,11277863758,54.55,1537363807907,NaN,51.89,New York Stock Exchange,Healthcare,56.5999,8.32,0.956073
SNAP,23399527,sip,0.020,0.00219,9.13,1537300954394,Snap Inc. Class A,9.150,1537387200169,0.000,...,11687778651,9.08,1537363800703,-8.10,9.13,New York Stock Exchange,Technology,21.2200,8.90,-0.387108
TLRY,9653495,close,59.080,0.38121,214.06,1537387200005,Tilray Inc.,217.750,1537387200024,-17.500,...,19938413631,235.00,1537363800722,NaN,154.98,Nasdaq Global Select,Healthcare,300.0000,20.10,6.303050
T,26466771,sip,-0.360,-0.01068,33.72,1537300840355,AT&T Inc.,33.360,1537387200298,0.000,...,242260320000,33.96,1537363886426,10.17,33.72,New York Stock Exchange,Communication Services,39.8000,30.13,-0.097569

In [21]:
pyEX.logoNotebook(symbol)

In [22]:
pyEX.newsDF(symbol, count=10)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-09-19T14:34:30-04:00,The U.S. Is Beating The World Markets By A Wid...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,ARGT,ASIA0001,Asia Pacific,BABA,CHIN...",SeekingAlpha,US Stock Market Is Beating the Rest Of The ...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T14:18:49-04:00,"Reports: Apple held 62% of Q2 handset profit, ...",https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,OT...",SeekingAlpha,Apple ( AAPL -0.1% ) held 62% of Q2 gl...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T13:00:00-04:00,Apple has done the best job avoiding blowback ...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,FB,GOOGL,TWTR",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T12:31:00-04:00,"Your first trade for Thursday, Sep 19",https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,GM,PRMCF,TWTR,XOP",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T12:01:40-04:00,Crash Protection For Square,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,SQ...",SeekingAlpha,Square-using doughnut shop The Doughnut P...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T10:22:28-04:00,My Quarterly Global Portfolio Update,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AFL,AMGN,BRK.A,BRK.B,CNI,CNR:CA,Computer ...",SeekingAlpha,Background The long-term-focused long-o...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T10:05:00-04:00,Amazon hit by EU antitrust probe,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,GOOGL",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T09:18:00-04:00,"Your first trade for Tuesday, Sep 18",https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,FDX,GE,KR,PM",CNBC,No summary available.,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T09:00:00-04:00,Retirement Strategy: Are You Prepared For A Fi...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,AMZN,Computer Hardware,CON31167138,GOOGL,...",SeekingAlpha,I am not a naysayer nor a bear. Quite the...,https://api.iextrading.com/1.0/stock/aapl/arti...
2018-09-19T08:48:02-04:00,WSJ: Apple prioritized release of iPhone XS mo...,https://api.iextrading.com/1.0/stock/aapl/news...,"AAPL,Computer Hardware,CON31167138,NASDAQ01,Co...",SeekingAlpha,WSJ sources say Apple (NASDAQ: AAPL ) ...,https://api.iextrading.com/1.0/stock/aapl/arti...

In [23]:
pyEX.marketNewsDF(count=10)

,headline,image,related,source,summary,url
datetime,,,,,,
2018-09-19T16:05:00-04:00,Taylor Morrison Announces Election Deadline fo...,https://api.iextrading.com/1.0/stock/market/ne...,"ARIZONA1,AVHI,Banking and Finance,Banking,BoD/...",PR Newswire,"SCOTTSDALE, Ariz. , Sept. 19, 2018 /PR...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T15:46:00-04:00,SBA Announces FY 2018 State Trade Expansion Pr...,https://api.iextrading.com/1.0/stock/market/ne...,"ALABAMA1,ARIZONA1,ARKANSAS,Asia Pacific,AWARDS...",PR Newswire,"WASHINGTON , Sept. 19, 2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T15:15:00-04:00,Christine Todd Whitman and Preet Bharara annou...,https://api.iextrading.com/1.0/stock/market/ne...,"Federal,LEGALLAW,Media,National News,NEWJERSY,...",PR Newswire,"WASHINGTON , Sept. 19, 2018 /PRNewswir...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T14:55:53-04:00,Trump to issue $1B in grants to states to figh...,https://api.iextrading.com/1.0/stock/market/ne...,"Healthcare,National News",UPI,Sept. 19 (UPI) -- The Trump administratio...,https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T14:36:00-04:00,AccuWeather Founder and President Dr. Joel Mye...,https://api.iextrading.com/1.0/stock/market/ne...,"Advertising Marketing and PR,Breaking News,Bro...",PR Newswire,"STATE COLLEGE, Pa. , Sept. 19, 2018 /P...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T14:29:00-04:00,A Wider Circle to Honor Congressman G.K. Butte...,https://api.iextrading.com/1.0/stock/market/ne...,"AWARDS01,Education,Futures Trading,National Ne...",PR Newswire,"SILVER SPRING, Md. , Sept. 19, 2018 /P...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T14:06:00-04:00,n2y Creates First-Ever Symbol-Supported Weathe...,https://api.iextrading.com/1.0/stock/market/ne...,"Alternate Energy,Computer Software,Education,F...",Business Wire,n2y partnered with the National Oceanic...,https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T13:53:00-04:00,Economic growth expected to slow significantly...,https://api.iextrading.com/1.0/stock/market/ne...,"ARIZONA1,AWARDS01,Banking and Finance,Banking,...",PR Newswire,"TEMPE, Ariz. , Sept. 19, 2018 /PRNewsw...",https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T13:33:36-04:00,Space station sensor plots Los Angeles hot spots,https://api.iextrading.com/1.0/stock/market/ne...,"Aerospace and Defense,Aerospace/Defense - Majo...",UPI,Sept. 19 (UPI) -- NASA's ECOSTRESS instru...,https://api.iextrading.com/1.0/stock/market/ar...
2018-09-19T13:33:00-04:00,DKS Associates and HAAS Alert aid cities and c...,https://api.iextrading.com/1.0/stock/market/ne...,"Automotive,Industrial Goods,National News,Comp...",PR Newswire,"PORTLAND, Ore. , Sept. 19, 2018 /PRNew...",https://api.iextrading.com/1.0/stock/market/ar...

In [24]:
pyEX.ohlcDF(symbol)

   close.price     close.time    high    low  open.price      open.time
0       218.37  1537387200494  219.62  215.3       218.5  1537363800033

In [25]:
pyEX.marketOhlcDF().head()

        close  close.price    close.time  high  low  open.price     open.time
symbol
SNOAW     NaN         0.04  1.537387e+12   NaN  NaN        0.04  1.537379e+12
LEG       NaN        46.10  1.537387e+12   NaN  NaN       46.19  1.537364e+12
GRUB      NaN          NaN           NaN   NaN  NaN      143.50  1.537364e+12
CDNA      NaN        25.87  1.537387e+12   NaN  NaN       27.08  1.537364e+12
NOMD      NaN        20.46  1.537387e+12   NaN  NaN       20.78  1.537364e+12

In [26]:
pyEX.peersDF(symbol)

       symbol
symbol
MSFT     MSFT
NOK       NOK
IBM       IBM
HPQ       HPQ
GOOGL   GOOGL
BB         BB
XLK       XLK

In [27]:
pyEX.yesterdayDF(symbol)

,change,changePercent,close,date,high,low,open,unadjustedVolume,volume,vwap
symbol,,,,,,,,,,
AAPL,0.36,0.165,218.24,2018-09-18,221.85,217.12,217.79,31571712,31571712,219.4558

In [28]:
pyEX.marketYesterdayDF().head()

,change,changePercent,close,date,high,low,open,unadjustedVolume,volume,vwap
symbol,,,,,,,,,,
AADR,0.170,0.335,50.92,2018-09-18,51.216,50.91,51.0546,32204,32204,51.0039
AAAU,-0.027,-0.225,11.98,2018-09-18,12.030,11.98,12.0300,998,998,12.0234
AAME,-0.050,-1.667,2.95,2018-09-18,2.950,2.95,2.9500,881,881,2.9500
AABA,-0.920,-1.396,64.98,2018-09-18,66.080,64.53,65.3200,9300945,9300945,64.9222
AAL,0.470,1.166,40.79,2018-09-18,40.860,39.65,40.3600,5548449,5548449,40.4481

In [29]:
pyEX.priceDF(symbol)

    price
0  218.37

In [30]:
pyEX.quoteDF(symbol)

,avgTotalVolume,calculationPrice,change,changePercent,close,closeTime,companyName,delayedPrice,delayedPriceTime,extendedChange,...,marketCap,open,openTime,peRatio,previousClose,primaryExchange,sector,week52High,week52Low,ytdChange
symbol,,,,,,,,,,,,,,,,,,,,,
AAPL,30348541,close,0.13,0.0006,218.37,1537387200494,Apple Inc.,218.37,1537387200494,0.12,...,1054710940620,218.5,1537363800033,21.08,218.24,Nasdaq Global Select,Technology,229.67,149.16,0.282072

In [31]:
pyEX.relevantDF(symbol)

   peers symbols
0   True    MSFT
1   True     NOK
2   True     IBM
3   True     HPQ
4   True   GOOGL
5   True      BB
6   True     XLK

In [32]:
pyEX.sectorPerformanceDF()

                          lastUpdated  performance    type
name
Financials              1537387200506      0.01699  sector
Materials               1537387200353      0.01089  sector
Energy                  1537387200404      0.00307  sector
Communication Services  1537387200331      0.00269  sector
Consumer Discretionary  1537387200363      0.00043  sector
Industrials             1537387200402     -0.00088  sector
Health Care             1537387200379     -0.00139  sector
Consumer Staples        1537387200405     -0.00183  sector
Technology              1537387200465     -0.00255  sector
Real Estate             1537387200354     -0.00953  sector
Utilities               1537387200376     -0.02170  sector

In [33]:
pyEX.splitsDF(symbol, timeframe='5y')

           declaredDate  forFactor paymentDate     ratio  recordDate  toFactor
exDate
2014-06-09   2014-04-23          1  2014-06-06  0.142857  2014-06-02         7

In [34]:
pyEX.volumeByVenueDF(symbol)

       avgMarketPercent        date  marketPercent      venueName    volume
venue
XASE           0.001243  2018-09-19       0.000837  NYSE American     22334
XCIS           0.002395  2018-09-19       0.004129  NYSE National    110124
XCHI           0.011704  2018-09-19       0.004649            CHX    124003
XNYS           0.007404  2018-09-19       0.006736           NYSE    179659
XPHL           0.007143  2018-09-19       0.007936     Nasdaq PSX    211642
EDGA           0.008350  2018-09-19       0.008153      Cboe EDGA    217456
BATY           0.008194  2018-09-19       0.008681       Cboe BYX    231522
XBOS           0.012302  2018-09-19       0.013621      Nasdaq BX    363282
EDGX           0.054127  2018-09-19       0.044375      Cboe EDGX   1183498
IEXG           0.024189  2018-09-19       0.054014            IEX   1440576
BATS           0.081196  2018-09-19       0.079820       Cboe BZX   2128830
ARCX           0.099866  2018-09-19       0.086201      NYSE Arca   2299003
XNGS           0.274404  2018-09-19       0.284953         Nasdaq   7599785
TRF            0.407485  2018-09-19       0.395892   Off Exchange  10558561

In [35]:
pyEX.symbolsDF()

,date,iexId,isEnabled,name,type
symbol,,,,,
A,2018-09-19,2,True,Agilent Technologies Inc.,cs
AA,2018-09-19,12042,True,Alcoa Corporation,cs
AAAU,2018-09-19,14924,True,Perth Mint Physical Gold,N/A
AABA,2018-09-19,7653,True,Altaba Inc.,cs
AAC,2018-09-19,9169,True,AAC Holdings Inc.,cs
AADR,2018-09-19,5,True,AdvisorShares Dorsey Wright ADR,et
AAL,2018-09-19,8148,True,American Airlines Group Inc.,cs
AAMC,2018-09-19,7760,True,Altisource Asset Management Corp Com,cs
AAME,2018-09-19,7,True,Atlantic American Corporation,cs
AAN,2018-09-19,8,True,Aaron's Inc.,cs
AAOI,2018-09-19,7790,True,Applied Optoelectronics Inc.,cs
AAON,2018-09-19,9,True,AAON Inc.,cs
AAP,2018-09-19,10,True,Advance Auto Parts Inc W/I,cs
AAPL,2018-09-19,11,True,Apple Inc.,cs
AAT,2018-09-19,12,True,American Assets Trust Inc.,cs
AAU,2018-09-19,13,True,Almaden Minerals Ltd.,cs
AAV,2018-09-19,14,True,Advantage Oil & Gas Ltd,cs
AAWW,2018-09-19,15,True,Atlas Air Worldwide Holdings,cs
AAXJ,2018-09-19,16,True,iShares MSCI All Country Asia ex Japan Index Fund,et
AAXN,2018-09-19,6667,True,Axon Enterprise Inc.,cs
AB,2018-09-19,17,True,AllianceBernstein Holding L.P. Units,cs
ABAC,2018-09-19,5129,True,Renmin Tianli Group Inc.,cs
ABB,2018-09-19,19,True,ABB Ltd,cs
ABBV,2018-09-19,20,True,AbbVie Inc.,cs
ABC,2018-09-19,21,True,AmerisourceBergen Corporation,cs
ABCB,2018-09-19,22,True,Ameris Bancorp,cs
ABCD,2018-09-19,23,True,Cambium Learning Group Inc.,cs
ABDC,2018-09-19,8607,True,Alcentra Capital Corp.,cs
ABEO,2018-09-19,9600,True,Abeona Therapeutics Inc.,cs
ABEOW,2018-09-19,9607,True,,N/A
...,...,...,...,...,...
ZTR,2018-09-19,7707,True,Virtus Global Dividend & Income Fund Inc.,cs
ZTS,2018-09-19,7708,True,Zoetis Inc. Class A,cs
ZUMZ,2018-09-19,7709,True,Zumiez Inc.,cs
ZUO,2018-09-19,14265,True,Zuora Inc. Class A,cs
ZVV,2018-09-19,7907,True,,N/A
ZVVV,2018-09-19,7908,True,,N/A
ZVZZT,2018-09-19,7909,True,NASDAQ TEST STOCK,N/A
ZWZZT,2018-09-19,7910,True,NASDAQ TEST STOCK,N/A
ZXIET,2018-09-19,13391,True,ZXIET Test Company,N/A
ZXZZT,2018-09-19,7911,True,NASDAQ TEST STOCK,N/A
ZYME,2018-09-19,12759,True,Zymeworks Inc.,cs
ZYNE,2018-09-19,10257,True,Zynerba Pharmaceuticals Inc.,cs
BTCUSDT,2018-09-19,10000000,True,Bitcoin USD,crypto
EOSUSDT,2018-09-19,10000001,True,EOS USD,crypto
ETHUSDT,2018-09-19,10000002,True,Ethereum USD,crypto
BNBUSDT,2018-09-19,10000003,True,Binance Coin USD,crypto
ONTUSDT,2018-09-19,10000004,True,Ontology USD,crypto
BCCUSDT,2018-09-19,10000005,True,Bitcoin Cash USD,crypto
ADAUSDT,2018-09-19,10000006,True,Cardano USD,crypto
XRPUSDT,2018-09-19,10000007,True,Ripple USD,crypto
TUSDUSDT,2018-09-19,10000008,True,TrueUSD,crypto
TRXUSDT,2018-09-19,10000009,True,TRON USD,crypto
LTCUSDT,2018-09-19,10000010,True,Litecoin USD,crypto
ETCUSDT,2018-09-19,10000011,True,Ethereum Classic USD,crypto
IOTAUSDT,2018-09-19,10000012,True,MIOTA USD,crypto
ICXUSDT,2018-09-19,10000013,True,ICON USD,crypto
NEOUSDT,2018-09-19,10000014,True,NEO USD,crypto
VENUSDT,2018-09-19,10000015,True,VeChain USD,crypto
XLMUSDT,2018-09-19,10000016,True,Stellar Lumens USD,crypto
QTUMUSDT,2018-09-19,10000017,True,Qtum USD,crypto

In [36]:
pyEX.corporateActionsDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [37]:
pyEX.dividendsDF(symbol)

,amount,declaredDate,flag,indicated,paymentDate,qualified,recordDate,type
exDate,,,,,,,,
2018-02-09,0.63,2018-02-01,,,2018-02-15,Q,2018-02-12,Dividend income

In [38]:
pyEX.nextDayExtDateDF(date=None)

Empty DataFrame
Columns: []
Index: []

In [39]:
pyEX.directoryDF(date=None)

,AdjustedPreviousOfficialClosingPrice,CompanyName,CountryofIncorporation,DailyListTimestamp,FinancialStatus,FirstDateListed,IPOFlag,InverseETPFlag,IssueDescription,IssueSubType,...,RoundLotSize,SICCode,SecurityName,SymbolinCMSSymbology,SymbolinCQSSymbology,SymbolinINETSymbology,TestIssue,TransferAgent,WhenDistributedFlag,WhenIssuedFlag
0,100.0000,ZXIET Test Company,USA,2018-09-19T16:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,2345,ZXIET Common Stock,ZXIET,ZXIET,ZXIET,Y,None,N,N
1,2.5500,ZIEXT Test Company,USA,2018-09-19T16:00:00,0,2017-09-15,N,N,Common Stock,C,...,100,1234,ZIEXT Common Stock,ZIEXT,ZIEXT,ZIEXT,Y,None,N,N
2,10.0000,ZEXIT Test Incorporated,USA,2018-09-19T16:00:00,0,2018-09-18,N,N,Common Stock,C,...,100,5678,IEX Test Common Stock ZEXIT,ZEXIT,ZEXIT,ZEXIT,Y,"Computershare Trust Company, N.A.",N,N

In [40]:
pyEX.topsDF(symbols=None).head()

,askPrice,askSize,bidPrice,bidSize,lastSalePrice,lastSaleSize,lastSaleTime,lastUpdated,marketPercent,sector,securityType,volume
symbol,,,,,,,,,,,,
KWR,0.0,0,0.0,0,195.23,70,1537387192261,1537387323336,0.01296,materials,commonstock,1353
MHNC,0.0,0,0.0,0,0.00,0,0,1537387200000,0.00000,n/a,misc,0
DWTR,0.0,0,0.0,0,0.00,0,0,1537387200000,0.00000,n/a,etp,0
TACOW,0.0,0,0.0,0,0.00,0,0,1537387200000,0.00000,n/a,warrant,0
INFU,0.0,0,0.0,0,3.25,240,1537379574328,1537387200066,0.01475,healthcareequipmentservices,commonstock,448

In [41]:
pyEX.lastDF(symbols=None).head()

         price  size           time
symbol
BNS     59.410     5  1537387080338
ACET     2.930    57  1537387180787
SPPP     8.580   100  1537372349244
HMTV    14.125    13  1537387194146
IDX     20.675     5  1537382881958

In [42]:
pyEX.histDF(date=None).head()

,feed,link,protocol,size,version
date,,,,,
20161212,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,672322139,1.5
20161213,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,688995088,1.5
20161214,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,875045142,1.5
20161215,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,361647108,1.5
20161216,TOPS,https://www.googleapis.com/download/storage/v1...,IEXTP1,672176197,1.5

In [43]:
pyEX.deepDF(symbol=None).head()

Empty DataFrame
Columns: []
Index: [0]

In [44]:
pyEX.topsBookDF(symbol).head()

  asks bids symbol
0   []   []   AAPL

In [45]:
pyEX.tradesDF(symbol)

,isISO,isOddLot,isOutsideRegularHours,isSinglePriceCross,isTradeThroughExempt,price,size,symbol,timestamp,tradeId
0,True,True,False,False,False,218.330,19,AAPL,1537387199828,724673787
1,True,True,False,False,False,218.335,81,AAPL,1537387199826,724673189
2,True,True,False,False,False,218.335,19,AAPL,1537387199826,724673179
3,True,False,False,False,False,218.335,100,AAPL,1537387199826,724672998
4,False,False,False,False,False,218.335,100,AAPL,1537387199825,724672807
5,True,False,False,False,False,218.340,219,AAPL,1537387199823,724671028
6,True,True,False,False,False,218.340,19,AAPL,1537387199823,724671016
7,True,False,False,False,False,218.340,200,AAPL,1537387199823,724670960
8,True,False,False,False,False,218.360,100,AAPL,1537387199815,724666716
9,True,False,False,False,False,218.360,100,AAPL,1537387199815,724666694
10,True,False,False,False,False,218.390,100,AAPL,1537387199306,724551554
11,True,False,False,False,False,218.395,219,AAPL,1537387199306,724551533
12,True,False,False,False,False,218.395,217,AAPL,1537387199306,724551511
13,False,True,False,False,False,218.425,2,AAPL,1537387198158,724253630
14,False,False,False,False,False,218.385,123,AAPL,1537387197712,724102447
15,False,True,False,False,False,218.385,96,AAPL,1537387197601,724074596
16,False,True,False,False,False,218.385,4,AAPL,1537387197601,724074585
17,True,True,False,False,False,218.390,1,AAPL,1537387197293,724007653
18,True,True,False,False,False,218.410,18,AAPL,1537387196556,723800345
19,True,False,False,False,False,218.445,100,AAPL,1537387195280,723434781

In [46]:
pyEX.systemEventDF()

  systemEvent      timestamp
0           M  1537387200000

In [47]:
pyEX.tradingStatusDF(symbol)

  reason status symbol      timestamp
0             T   AAPL  1537356061585

In [48]:
pyEX.opHaltStatusDF(symbol)

   isHalted symbol      timestamp
0     False   AAPL  1537356061585

In [49]:
pyEX.ssrStatusDF(symbol)

  detail  isSSR symbol      timestamp
0         False   AAPL  1537356061585

In [50]:
pyEX.securityEventDF(symbol)

  securityEvent symbol      timestamp
0   MarketClose   AAPL  1537387200000

In [51]:
pyEX.tradeBreakDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [52]:
pyEX.auctionDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [53]:
pyEX.officialPriceDF(symbol)

Empty DataFrame
Columns: []
Index: [0]

In [54]:
pyEX.statsDF()

,volume,symbolsTraded,routedVolume,notional,marketShare
lastUpdated,1537388252998,1537388037124,1537388253321,1537388252998,1.537388e+12
value,180232810,6036,30212541,9430574515,2.757000e-02

In [55]:
pyEX.recentDF()

            isHalfday  litVolume  marketShare  routedVolume     volume
date
2018-09-18      False   50692486      0.02838      33595912  183543217
2018-09-17      False   41640527      0.02392      28825712  151403510
2018-09-14      False   42572521      0.02507      32995246  158668864
2018-09-13      False   43972291      0.02507      37414534  170854520
2018-09-12      False   46640382      0.02528      32154569  181265976
2018-09-11      False   40960616      0.02615      30822109  167081911
2018-09-10      False   38486911      0.02668      27110550  152419730
2018-09-07      False   42165971      0.02627      34243128  165553626
2018-09-06      False   47156378      0.02606      38340753  175143688
2018-09-05      False   51634758      0.02534      39624479  179977524
2018-09-04      False   47838080      0.02636      31202403  174720320

In [56]:
pyEX.recordsDF()

                      volume symbolsTraded routedVolume     notional
avg30Value         155546343          5636     30561127  8.17066e+09
previousDayValue   183543217          5985     33595912  1.00423e+10
recordDate        2018-02-09    2018-02-06   2016-11-10   2018-02-06
recordValue        286354807          6381     74855222  1.72697e+10

In [57]:
pyEX.summaryDF(date=None)

,averageDailyRoutedVolume,averageDailyVolume,averageFillSize,averageMarketShare,averageOrderSize,bin10000Percent,bin10000Trades,bin1000Percent,bin100Percent,bin101Percent,...,venueXCHIFirstWaveRate,venueXCHIFirstWaveWeight,venueXCISFirstWaveRate,venueXCISFirstWaveWeight,venueXNGSFirstWaveRate,venueXNGSFirstWaveWeight,venueXNYSFirstWaveRate,venueXNYSFirstWaveWeight,venueXPHLFirstWaveRate,venueXPHLFirstWaveWeight
0,51255879.55,154349743.9,196,0.02503,638,0.00099,5156,0.02367,0.73508,0.0154,...,0.82406,0.00134,0.92786,0.00512,0.98878,0.22151,0.98639,0.20362,0.96635,0.00843

In [58]:
pyEX.dailyDF(date=None, last='')

         date  isHalfday  litVolume  marketShare  routedVolume     volume
0  2018-09-18          0   50692486      0.02838      33595912  183543217

In [59]:
pyEX.marketsDF()

,lastUpdated,marketPercent,mic,tapeA,tapeB,tapeC,tapeId,venueName,volume
0,1537388255376,0.36914,TRF,1118050856,402937094,891946610,,TRF Volume,2412934560
1,1537388255256,0.15716,XNGS,350204473,135123358,541992519,Q,NASDAQ,1027320350
2,1537387766433,0.13370,XNYS,826298630,20603255,27024054,N,NYSE,873925939
3,1537388254851,0.08772,ARCX,173442227,231297338,168678344,P,NYSE Arca,573417909
4,1537388241778,0.06098,BATS,193503066,85121086,120000597,Z,BATS BZX,398624749
5,1537388255790,0.05141,EDGX,129751096,61806621,144466195,K,EDGX,336023912
6,1537388216070,0.04725,BATY,164624958,70198322,74010328,Y,BATS BYX,308833608
7,1537388241985,0.02771,XBOS,97778291,26719788,56642741,B,NASDAQ BX,181140820
8,1537388037124,0.02757,IEXG,106222072,17433979,56576759,V,IEX,180232810
9,1537388221034,0.01239,EDGA,36743596,21213338,23043894,J,EDGA,81000828
10,1537388062246,0.00989,XCIS,31805656,16751587,16079569,C,NYSE National,64636812
11,1537388255607,0.00639,XPHL,15000290,13894847,12853387,X,NASDAQ PSX,41748524
12,1537388081013,0.00511,XCHI,17499867,9460525,6471395,M,CHX,33431787
13,1537388081185,0.00357,XASE,5153497,15361669,2822209,A,NYSE American,23337375